---
layout: blog
title: Omgaan met onze behoeften
author: Willem Mulder
date: 2019-12-06 12:26:00 +0200
categories: oplossingsrichting
permalink: blog/omgaan-met-onze-behoeften
---

<p>
    Onze behoeften bepalen voor een groot deel hoe we ons gedragen.
    Het zijn de drijfveren die onze emoties en ons gedrag sturen.
</p>
<p>
    Behoeften zijn voor iedereen anders.
    En zelfs als we behaalde behoeften delen, dan nog steeds zijn er vaak verschillen in bijvoorbeeld intensiteit of de manieren waarop we onze behoeften willen bevredigen.
    Voor het thema geluk is het het belangrijkst om te beseffen dat onze behoeften, wat ze ook zijn, invloed hebben op hoe gelukkig we zijn.
    Zoals we zagen zijn emoties bedoeld om ons leven 'in de juiste richting' te sturen.
    Zolang onze hersenen dus het idee hebben dat onze behoeften bevredigd (gaan) worden, ervaren we positieve emoties.
    Maar als we het idee hebben dat onze behoeften <em>niet</em> bevredigd worden, dan krijgen we juist
    <em>negatieve</em> emoties.
    Dat betekent dat ons geluk deels afhangt van de mate waarin we denken dat onze behoeften bevredigd worden.
    In het model zie je bij {% include pointerreference.html ref="1" label="de pijl" %} hoe onze behoeften voor een groote deel de basis zijn van onze gedachtenpatronen en emoties en dus van ons geluk.
</p>
<p>
    {% include image.html src="model_3.png" p_id="1" p_x=66 p_y=82 p_s=3.5 %}
</p>
<p>
    Vervolgens is duidelijk dat hoe meer behoeften je hebt, hoe groter de kans dat er eentje <em>niet</em> bevredigd wordt.
    (En ja, de kans dat een behoefte <em>wel</em> bevredigd wordt, is <em>ook</em> groter, maar we reageren over het algemeen veel heftiger op ontbrekende beheoften dan op vervulde behoeften).
    En omdat we bij meer behoeften ook meer onbevredigde behoeften hebben, krijgen we dus ook meer negatieve emoties die ons daar op attenderen, er ervaren we dus ook meer ongeluk en lijden.
    Meer behoefte leidt dus feitelijk tot meer lijden.
</p>
<blockquote>
    Hoe meer we willen, hoe meer we lijden.
</blockquote>
<p>
    Nu zou je zeggen: is het dan niet beter om maar zo <em>min</em> mogelijk behoeften te hebben?
    Daar valt zeker wat voor te zeggen, maar de belangrijkste vraag is of je dat wel wilt.
    Een behoefte als honger en dorst kan heel vervelend zijn, maar is wel degelijk nuttig: je overleeft het waarschijnlijk niet als je lichaam niet op tijd aangeeft dat het dorst heeft of juist vol zit.
    Een andere factor is dat niet elke behoefte even makkelijk is weg te knippen uit je leven.
    Dat weten mensen die verslaafd zijn aan roken maar al te goed.
    Roken is <em>juist</em> een behoefte waar veel mensen van af willen (en zijn velen hier uiteindelijk ook succesvol in!), maar is het niet alsof je op een knop kunt drukken en -floep- de behoefte is verdwenen.
</p>
<p>
    We hebben dus twee factoren die een rol spelen bij jouw huidige behoeften en het eventuele elimineren
    daarvan:
    <ol>
        <li>De nuttigheid van de behoefte</li>
        <li>De moeilijkheid om van de behoefte af te komen</li>
    </ol>
    In het heel kort wil je waarschijnlijk af van de behoeften die niet nuttig zijn.
    En daarbij wil je wellicht starten met de behoeften waar je het makkelijkst vanaf kunt komen.
</p>
<h2>
    De nuttigheid van de behoefte
</h2>
<p>
    Hoe weet je nu welke behoeften nuttig zijn?
    Om daar over na te denken moeten we eerst vinden wat <em>überhaupt</em> onze behoeften zijn.
    Om je behoeften te vinden kan het nuttig zijn om te beginnen bij het <em>effect</em> van die behoeften en dan terug te redeneren.
    We weten immers dat behoeften leiden tot emoties, en vervolgens actie in gang kunnen zetten om die behoeften te bevredigen.
    Dat betekent dat je simpelweg kunt kijken naar waar je in jouw leven het meeste tijd of energie aan besteedt.
    En vervolgens terug kunt redeneren naar de onderliggende behoefte.
    Bijvoorbeeld het feit dat we 8 uur per dag werken heeft vaak te maken met de behoefte aan inkomen, wat we weer gebruiken om te betalen voor boodschappen (gezondheid), vakanties (ontspanning) en dingen als mode en make-up (we willen dat anderen ons leuk vinden).
    Zoals je hierboven ziet staan de meeste behoeften niet op zichzelf, maar hebben ze diepere behoeften onder zich liggen.
    In het voorbeeld hierboven is de 'behoefte' aan inkomen eigenlijk niet zozeer een behoefte in zichzelf, maar helpt het om aan behoeften als gezondheid, onspanning en sociale status of zelfvertrouwen te voldoen.
    Om zo'n goed mogelijk inzicht te krijgen in je behoeften is het goed om bij elke gevonden behoefte nog een keer extra te vragen 'maar waarom wil ik dit?' om zo wellicht nog een diepere onderliggende behoefte te ontdekken.
    <!-- te doen: behoeften vinder -->
</p>
<p>
    Als je eenmaal een lijst hebt met behoeften, is de volgende vraag welke van die behoeften niet zinvol zijn.
    Dat zijn namelijk de behoeften waar je eigenlijk vanaf wil, zodat ze je geen energie of negatieve emotie kunnen kosten.
    De vraag welke behoefte zinvol is, is lastig te beantwoorden.
    De één houdt van wandelen en vindt dat een nuttige, gezonde behoefte.
    De ander houdt helemaal níet van bewegen, en vindt het ook helemaal niet nodig om daar verandering in aan te brengen.
    Toch zijn er op het diepste niveau behoorlijk wat behoeften te vinden die we bij veel mensen terugzien.
    Iedereen heeft bijvoorbeeld behoefte aan voedsel, drinken en vormen van liefde en intimiteit.
    Als één va jouw behoeften bijdraagt aan zo'n basisbehoefte, dan hoef je je over het algemeen over die behoefte geen zorgen te maken.
    Het hebben van die behoefte is zinvol, en dus is het ook nuttig als je hersenen negatieve emoties genereren als niet in die behoefte wordt voldaan.
</p>
<p>
    Wat zijn dan van die basisbehoeften?
    Hier is al veel over nagedacht.
    Maar omdat we basisbehoeften niet concreet kunnen meten, komt elke onderzoeker met z'n eigen lijstje.
    De bekendste is waarschijnlijk wel de 'piramide van Maslov', die bestaat uit 5 lagen met behoeften.
    Maslow nam het uitgangspunt dat je pas echt bezig gaat met de behoeften in een bepaalde laag als aan de behoeften in alle onderliggende lagen 'redelijk voldaan' was.
    Zo zouden mensen hun energie in het algemeen eerst richten op de onderste laag, en vervolgens omhoog werken tot ze op de bovenste laag arriveren.
    Overigens merkte Maslow op dat hij maar een handjevol mensen kende die zich op de bovenste laag bevonden.
    Latere onderzoekers wezen erop dat mensen de volgorde van onder naar boven in de praktijk niet op die manier volgen.
    Maar desalniettmein zijn de lagen van de piramide wel een goede basis gebleken voor het beschrijven van onze basisbehoeften.
    De lagen van de piramide zijn als volgt (de bovenste laag boven):
    <ol>
        <li>Zelfontplooiing: doen wat goed, mooi en leuk is</li>
        <li>Status, succes en zelfwaardering</li>
        <li>Sociale acceptatie, liefde, vriendschap</li>
        <li>Zekerheid, orde en gezondheid</li>
        <li>Lichamelijke behoeften zoals eten, ademhalen en slaap</li>
    </ol>
    Zelf denk ik dat mensen tegenwoordig relatief veel bezig zijn met (platte vormen van) status, succes en zelfwaardering juist omdat de diepe verbinding met mensen en God minder vanzelfsprekend is geworden.
    Daarbij is er soms de <a href='/blog/perfect-geluk'>ongezonde drang naar geluk en positiviteit</a> omdat we ongeluk en problemen minder goed een plekje kunnen geven, en niet snappen waar ongeluk zinvol voor zou kunnen zijn.
    Bij ouders valt dat vaak wel mee: die accepteren wel dat ze wat nachtrust en ontspanning inleveren, omdat ze ervaren dat je daar de liefde van en naar je kind voor terug krijgt.
    Maar voor de grotere zaken in het leven is dat lastiger te verklaren als je bijvoorbeeld niet gelooft dat God een hoger plan met dingen heeft of als je niet gelooft dat dingen überhaupt zinvol zijn.
    Door zo'n gebrek aan zingeving lijken moeilijke dingen alleen maar nutteloos, en ben je minder geneigd om te accepteren dat ook moeilijke dingen er bij horen en een hoger doel kunnen dienen.
    Voor mij is zingeving dus juist erg belangrijk: het gevoel dat ik bijdraag aan iets goeds en in verbinding sta met het goede om me heen, geeft me kracht en maakt dat ik meer energie heb, ook op de momenten dat het wel eens moeilijk is.
    Volgens mij heeft iedereen de behoefte om 'deel uit te maken van iets goeds, iets groters' en worden we onrustig op het moment dat we geen oprechte aandacht (kunnen) geven aan het invullen van die behoefte.
    De onrust die dan ontstaat gaan we dan <a href='/blog/hoe-kun-je-gelukkiger-worden'>ongezond opvullen met plattere behoeften zoals status of kort plezier</a>.
    <!-- te doen: boek wie wij zijn en lijstje tony en eigen lijst -->
</p>
<p>
    Volgens mij is er dus het volgende aan de hand:
    <ul>
        <li>Veel behoeften zijn terug te leiden naar één van bovenstaande basisbehoeften</li>
        <li>We willen de meeste van de basisbehoeften wél vervullen, maar de plattere behoeften rondom status en plezier zijn daarbij vaak minder helpend</li>
        <li>We willen af van de behoeften die helemaal niet terug te leiden zijn naar de basisbehoeften en/of alleen maar op plat plezier gefocust zijn (bijvoorbeeld verslaving aan heroïne)</li>
        <li>Ook willen we af van behoeften die een slecht surrogaat zijn voor échte behoeften (bijvoorbeeld porno als surrogaat voor liefde en intimiteit)</li>
    </ul>
    Nu blijft de vraag over: hoe kom je van die behoeften af? 
    Dat is soms toch heel erg moeilijk?
</p>
<h2>
    De moeilijkheid om van de behoefte af te komen
</h2>
<p>
    Ja, het is soms enorm moeilijk om van een behoefte af te komen.
    Maar gek genoeg is het soms helemaal niet de beste strategie om van een behoefte <em>af te komen</em> maar juist om een <em>andere behoefte te vervullen</em>!
    Ga maar na:
    <ol>
        <li>We hebben allemaal bepaalde behoeften</li>
        <li>Wanneer een behoefte <em>niet</em> vervuld wordt, geeft dat negatieve emoties, maar als een behoefte <em>wel</em> vervuld wordt, geeft dat (kort) positieve emoties</li>
        <li>Als we een bepaalde diepe behoefte (zoals liefde of zingeeving) niet kunnen vervullen, en daardoor negatieve emoties zoals onrust ervaren, is de neiging al snel om <a href='/blog/hoe-kun-je-gelukkiger-worden'>terug te grijpen op het krijgen van positieve emoties door het vervullen van platte behoeften zoals plezier of status</a></li>
        <li>In plaats van om ons alleen druk te maken over de aanwezigheid platte behoeften, kunnen we wellicht beter zorgen dat we onze diepe behoeften vervullen</li>
        <li>Door het vervullen van de diepe behoeften zal de neiging afnemen om positieve emoties te zoeken in platte behoeften zoals status en plezier</li>
    </ol>
    Volgens mij betekent dat je dus niet alleen moet proberen de zinloze behoeften uit te bannen (bijvoorbeeld stoppen met drugs), maar juist ook moet focussen op het vervullen van de diepe zinvolle behoeften zoals liefde en zingeving!
    Een mooi voorbeeld om aan te tonen dat dat werkt, zijn de Amerikaanse soldaten die in de Vietnam-oorlog vochten.
    Zo'n 20% van de soldaten was verslaafd aan heroïne, een van de meest verslavende drugs, die een behoefte creeërt die je kunt vervullen door te gebruiken en waardoor je je dan op dat moment even lekker voelt.
    Normale afkickprogramma's waren er op gericht om de heroïne-behoefte weg te nemen.
    Dat had vaak slechts een tijdelijk effect: na verloop van tijd gingen veel mensen toch weer gebruiken.
    Bij de Amerikaanse soldaten werkte het echter anders: op het moment dat ze terugkwamen uit de oorlog en terug waren in hun gezin, waren hun diepere behoeften zoals liefde, rust en goedheid opeens weer vervuld, en bleken ze de heroïne opeens niet meer nodig te hebben.
    Zo'n 90% van de verslaafde soldaten stopten bijna van de ene op de andere dag, iets wat experts op dat moment niet voor mogelijk hadden gehouden!
</p>
<h2>
    Dus
</h2>
<p>
    Mijn advies is dus als volgt.
    Ten eerste is het goed om je behoeften te inventariseren zodat je weet waar je je energie aan besteedt en waar je emoties vandaan komen.
    Probeer die behoeften terug te brengen tot één van de basisbehoften.
    Daarna is het dan belangrijk om onderscheid te maken tussen de diepere basisbehoeften zoals liefde, intimiteit en zingeving en de 'plattere' behoefen zoals status, succes en plezier.
    Vervolgens is de strategie tweeledig: stop als dat kan met de zinloze platte behoeften, maar besef tegelijkertijd dat die vaak een opvulling zijn omdat je een andere, diepere basisbehoefte mist.
    Zorg er dus vooral voor dat je probeert om invulling te geven aan die diepe behoeften zoals liefde, intimiteit en zingeving.
    Dat doe je door contact te zoeken met mensen om je heen, door iets goeds te doen, spiritualiteit te beoefenen en ook door het goede te zien in de dingen om je heen.
</p>
<p>
    Hoe je precies een verandering in gang zet, daarover schrijf ik later meer.
</p>
<p>
    Maar uiteraard zijn je behoeften en de invulling daarvan niet de enige 'knop' waaraan je kunt draaien om diep geluk en vrede te ervaren.
    {% include biglink.html label="Lees meer in het definitieve stappenplan om gelukkiger te worden" link="/blog/het-definitieve-stappenplan-om-gelukkiger-te-worden" %}
</p>

<!--
<p>
    Zingeving is het gevoel dat je deel uitmaakt van iets beters of onderweg bent naar iets beters.
</p>
<p>
    Als het gaat om onze behoeften dan is het eigenlijk simpel: probeer met je behoeften zo dicht mogelijk te blijven
    bij universele menselijke behoeften zoals liefde, goedheid, zingeving, gezondheid en intimiteit.
    Wees alert op behoeften die ons niet verder helpen: behoefte aan status, beter willen zijn dan anderen, korte
    termijn pleziertjes en verslavingen.
    Vaak zijn die 'nepbehoeften' zoals de drang naar status of verslavingen, allemaal heel goed te verklaren, maar dat
    betekent niet dat ze ons leven uiteindelijk verder helpen.
    Ook hier helpt het om simpelweg eens op te schrijven waar jouw behoeften liggen.
    Soms kom je daar snel genoeg achter als je opschrijft waar je je tijd in dit leven aan besteed.
    We doen immers alles met een reden.
    Op die manier kun je terug redeneren van je tijdsbesteding ('heel veel winkelen') naar behoeften zoals 'sociaal
    contact', 'waardering' of misschien 'een ziekelijke verslaving'.
    En vervolgens kun je je behoeften stap voor stap proberen te veranderen.
</p>

<p>
    Zingeving: Coen Simon: "niet de vervulling van ons verlangen, maar het verlangen zelf geeft zin aan ons leven."

    De zieke Lisanne: Geluk is "hoop hebben". En "Soms had ik niets anders dan dat".
    https://www.lisanneleeft.nl/geluk-is-hoop-hebben/
</p>
-->