---
layout: blog
title: Omgaan met onze behoeften
author: Willem Mulder
date: 2019-12-06 12:26:00 +0200
categories: oplossingsrichting
permalink: blog/omgaan-met-onze-behoeften
---

<!--excerpt-->
<p>
    Onze behoeften bepalen voor een groot deel hoe we ons gedragen.
    Het zijn de drijfveren die onze emoties en ons gedrag sturen.
</p>
<p>
    Behoeften zijn voor iedereen anders.
    En zelfs als we behaalde behoeften delen, dan nog steeds zijn er vaak verschillen in bijvoorbeeld intensiteit of de manieren waarop we onze behoeften willen bevredigen.
    Voor het thema geluk is het het belangrijkst om te beseffen dat onze behoeften, wat ze ook zijn, invloed hebben op hoe gelukkig we zijn.
    In dit artikel wil ik ingaan op onze behoeften, welke typen nuttig zijn en welke niet, en hoe je daarmee om kunt gaan.
</p>
<!--/excerpt-->
<P>
    Zoals we zagen zijn emoties bedoeld <a href='/blog/wat-zijn-emoties'>om ons leven 'in de juiste richting' te sturen</a>.
    Dat betekent: zolang onze hersenen het idee hebben dat onze behoeften bevredigd (gaan) worden, ervaren we positieve emoties.
    Maar als we het idee hebben dat onze behoeften <em>niet</em> bevredigd worden, dan krijgen we juist <em>negatieve</em> emoties.
    Dat betekent dat ons geluk deels afhangt van de mate waarin we denken dat onze behoeften bevredigd worden.
    In het model zie je bij {% include pointerreference.html ref="1" label="de pijl" %} hoe onze behoeften voor een groote deel de basis zijn van onze gedachtenpatronen en emoties en dus van ons geluk.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties en waarderen en open eindjes) naar emotie naar geluk" src="model_3.png" p_id="1" p_x=66 p_y=82 p_s=3.5 %}
</p>
<p>
    Het is goed om te beseffen dat hoe meer behoeften je hebt, hoe groter de kans dat er ook wel eens eentje <em>niet</em> bevredigd wordt.
    En dat zorgt er dan weer voor dat je hersenen je proberen bij te sturen met negatieve emoties.
    Het gevolg van die onbevredigde behoeften is onrust en in het ergste geval ongeluk.
    Uiteraard zijn er ook fijne emoties als een behoefte <em>wel</em> vervuld wordt.
    Maar positieve emoties duren veelal maar kort, terwijl de negatieve emoties vaak dieper en langer zijn.
    Onze hersenen zijn er op ingericht om risico's te vermijden en zullen dus reageren met negatieve emotie als er het risico is dat één van de behoeften niet vervuld gaat worden.
    Méér behoefte leidt dus meestal tot méér lijden.
</p>
<blockquote>
    Hoe meer we willen, hoe meer we lijden.
</blockquote>
<p>
    Nu zou je zeggen: is het dan niet beter om maar zo <em>min</em> mogelijk behoeften te hebben?
    Daar valt zeker wat voor te zeggen, maar veel behoeften zijn er niet voor niets.
    Een behoefte als honger en dorst kan heel vervelend zijn, maar is wel degelijk nuttig: je overleeft het waarschijnlijk niet als je lichaam niet op tijd aangeeft dat je vocht nodig hebt of juist vol zit.
    Deze behoeften zijn dus nuttig en zinvol.
    Aan de andere heb je behoeften zoals 'obsessieve koopverslaving' of 'roken' waar dat niet het geval is: je lichaam geeft aan dat je iets moet kopen of een sigaret moet roken, maar eigenlijk helpt dat je in beide gevallen niks verder.
    Van die onnuttige behoeften wil je liever juist af, zodat je er ook de onrust en negatieve emoties niet van hebt.
<h2>
    Onze behoeften
</h2>
<p>
    Ik wil eerst kort ingaan op welke <em>soorten behoeften</em> er allemaal zijn, om vervolgens iets te zeggen over het nut van de verschillende soorten.
    Als het gaat om onze behoeften, zijn er uiteraard oneindig veel varianten.
    De één vindt dit belangrijk, de ander dat.
    Toch zijn onze behoeften vaak wel terug te brengen tot een aantal zogenaamde basisbehoeften.
    De meeste behoeften staan namelijk niet op zichzelf, maar hebben ze diepere behoeften onder zich liggen.
    Bijvoorbeeld de 'behoefte aan inkomen' is niet zozeer een behoefte in zichzelf, maar helpt inkomen ons om aan diepere behoeften te voldoen zoals gezondheid, onspanning en sociale status.
    Zo kom je onderaan de keten uit op een aantal behoeften die we dus de basisbehoeften noemen.
</p>
<!--
    <p>
        Om je behoeften te vinden kan het nuttig zijn om te beginnen bij het <em>effect</em> van die behoeften en dan terug te redeneren.
        We weten immers dat behoeften leiden tot emoties, en vervolgens actie in gang kunnen zetten om die behoeften te bevredigen.
        Dat betekent dat je simpelweg kunt kijken naar waar je in jouw leven het meeste tijd of energie aan besteedt.
        En vervolgens terug kunt redeneren naar de onderliggende behoefte.
        Bijvoorbeeld het feit dat we 8 uur per dag werken heeft vaak te maken met de behoefte aan inkomen, wat we weer gebruiken om te betalen voor boodschappen (gezondheid), vakanties (ontspanning) en dingen als mode en make-up (we willen dat anderen ons leuk vinden).
        Zoals je hierboven ziet staan de meeste behoeften niet op zichzelf, maar hebben ze diepere behoeften onder zich liggen.
        In het voorbeeld hierboven is de 'behoefte' aan inkomen eigenlijk niet zozeer een behoefte in zichzelf, maar helpt het om aan behoeften als gezondheid, onspanning en sociale status of zelfvertrouwen te voldoen.
        Om zo'n goed mogelijk inzicht te krijgen in je behoeften is het goed om bij elke gevonden behoefte nog een keer extra te vragen 'maar waarom wil ik dit?' om zo wellicht nog een diepere onderliggende behoefte te ontdekken.
    </p>
    te doen: behoeften vinder
-->
<p>
    Gek genoeg zijn wetenschappers het er niet over eens hoe we die basisbehoeften precies in moeten delen.
    Dat komt voornamelijk omdat we basisbehoeften niet kunnen meten.
    En dus komt elke onderzoeker met z'n eigen lijstje.
    De bekendste is waarschijnlijk wel de 'piramide van Maslov', die bestaat uit 5 basisbehoeften die op elkaar zijn gestapeld als een piramide.
    Maslow nam het uitgangspunt dat je pas echt bezig gaat met de behoeften in een bepaalde laag als aan de behoeften in alle onderliggende lagen 'redelijk voldaan' was.
    Zo zouden mensen hun energie in het algemeen eerst richten op de onderste laag, en vervolgens omhoog werken tot ze op de bovenste laag arriveren.
    Overigens merkte Maslow op dat hij maar een handjevol mensen kende die zich op de bovenste laag bevonden.
    Latere onderzoekers wezen erop dat de volgordelijkheid van onder naar boven in de praktijk niet op die manier werkt.
    Maar desalniettmein zijn de lagen van de piramide wel een goede basis gebleken voor het beschrijven van onze basisbehoeften.
    De lagen van de piramide zijn als volgt (de bovenste laag boven):
    <ul>
        <li>Zelfontplooiing: doen wat goed, mooi en leuk is</li>
        <li>Status, succes en zelfwaardering</li>
        <li>Sociale acceptatie, liefde, vriendschap</li>
        <li>Zekerheid, orde en gezondheid</li>
        <li>Lichamelijke behoeften zoals eten, ademhalen en slaap</li>
    </ul>
    <!-- te doen: boek wie wij zijn en lijstje tony en eigen lijst -->
</p>
<h2>
    Het nut van onze behoeften
</h2>
<p>
    Nu we een algemene indeling hebben van onze behoeften, is de volgende vraag: zijn die behoeften nou ook allemaal even nuttig?
    Ik denk zelf namelijk van niet.
</p>
<p>
    Uiteraard zijn heel veel behoeften wél zinvol.
    Zo heeft iedereen terecht behoefte aan lichamelijke zaken zoals eten, ademhalen en slapen.
    Ook zekerheid, orde en gezondheid zijn nuttig (ook al kun je hierin doorslaan).
    Hetzelfde geldt voor sociale acceptatie, liefde en vriendschap.
    We zijn van nature sociale wezens die met elkaar in verbinding willen staan.
    Bij de bovenste twee lagen van de piramide heb ik echter mijn vraagtekens.
    De laag met status, succes en zelfwaardering gaat vaak over 'beter/leuker/mooier zijn dan anderen', en ik denk dat we daar als samenleving niet beter van worden.
    In de bovenste laag is het risico om onszelf te verliezen in wat 'leuk' is, terwijl we meer voldoening kunnen halen uit wat mooi en goed is.
    Maar als die behoeften niet zo nuttig zijn, waarom zijn dan zo veel mensen bezig met korte pleziertjes, met status, met hun uiterlijk enzovoorts?
</p>
<h2>
    Zingeving of het gebrek daaraan
</h2>
<p>
    Volgens mij komt die drang naar makkelijk plezier doordat we een aantal andere dingen soms missen.
    Als het gaat om (de platte vormen van) status, succes en zelfwaardering, dan is die behoefte daaraan denk ik zo groot omdat de diepe verbinding met mensen en God minder vanzelfsprekend is geworden.
    Daardoor komen we meer 'op onszelf' te staan, en doen we van alles om onszelf er van te overtuigen dat we er echt wel toe doen.
    Wat betreft het <a href='/blog/perfect-geluk'>extreem zoeken naar geluk, leukheid en positieve emoties</a>, zijn er denk ik twee oorzaken.
    De eerste oorzaak is dat we minder zingeving ervaren.
    Daardoor snappen we niet meer waar ongeluk zinvol voor zou kunnen zijn en kunnen we dus ongeluk en problemen minder goed een plekje kunnen geven.
    Als je bijvoorbeeld niet gelooft dat God een hoger plan met dingen heeft of als je niet gelooft dat dingen überhaupt zinvol zijn dan lijken moeilijke dingen alleen maar nutteloos, en ben je minder geneigd om te accepteren dat ook moeilijke dingen er bij horen en een hoger doel kunnen dienen.
    En omdat de niet-leuke dingen minder acceptabel zijn, zoeken we dus extremer naar de leuke en positieve dingen.
    De tweede oorzaak van het meer zoeken naar leuke dingen is simpelweg dat die leuke dingen tegenwoordig heel eenvoudig beschikbaar zijn.
    Het is heel makkelijk om ons de hele dag te vermaken met spelletjes, filmpjes of ander vermaak.
    Sommige daarvan <em>lijken</em> ook nog eens op echte behoeften, maar zijn het niet.
    Bijvoorbeeld porno als surrogaat voor liefde en intimiteit.
    De grote vraag is nu: hoe kom je van die lege behoeften af?
</p> 
<!--
Voor mij is zingeving echter juist erg belangrijk: het gevoel dat ik bijdraag aan iets goeds en in verbinding sta met het goede om me heen, geeft me kracht en maakt dat ik meer energie heb, ook op de momenten dat het wel eens moeilijk is.
Volgens mij heeft iedereen de behoefte om 'deel uit te maken van iets goeds, iets groters' en worden we onrustig op het moment dat we geen oprechte aandacht (kunnen) geven aan het invullen van die behoefte.
De onrust die dan ontstaat gaan we dan <a href='/blog/hoe-kun-je-gelukkiger-worden'>ongezond opvullen met plattere behoeften zoals status of kort plezier</a>.
-->

<h2>
    Stoppen met zinloze behoeften
</h2>
<p>
    Het is namelijk enorm moeilijk om van een behoefte af te komen.
    Ja, er zijn methodes om bijvoorbeeld een tijd zonder je mobiele telefoon te leven.
    Filters in te stellen.
    Afkickprogramma's te volgen.
    Maar gek genoeg is het soms helemaal niet de beste strategie om van een behoefte <em>af te komen</em> maar juist om een <em>andere behoefte te vervullen</em>!
    Dat zit zo:
    <ol>
        <li>We hebben allemaal bepaalde behoeften</li>
        <li>Wanneer een behoefte <em>niet</em> vervuld wordt, geeft dat negatieve emoties. Als een behoefte <em>wel</em> vervuld wordt, geeft dat (kort) positieve emoties</li>
        <li>Als we een bepaalde diepe behoefte (zoals liefde of zingeeving) niet kunnen vervullen, krijgen we daardoor negatieve emoties zoals onrust</li>
        <li>Zoals gezegd is de neiging bij onrust al snel om <a href='/blog/hoe-kun-je-gelukkiger-worden'>terug te grijpen op het krijgen van positieve emoties door het vervullen van platte behoeften zoals plezier of status</a></li>
        <li>De oorzaak van die drang naar plat plezier is echter de <em>afwezigheid</em> van de dingen die er toe doen, zoals zingeving, liefde en geborgenheid</li>
        <li>Dus door je te richten op het vervullen van die diepe behoeften, zorg je er indirect voor dat je minder drang hebt naar platte status en plezier</li>
    </ol>
    Volgens mij betekent dat je dus niet alleen moet proberen de zinloze behoeften uit te bannen (bijvoorbeeld stoppen met drugs of porno), maar juist ook moet focussen op het vervullen van de diepe zinvolle behoeften zoals liefde en zingeving!
    Een mooi voorbeeld om aan te tonen dat dat werkt, zijn de Amerikaanse soldaten die in de Vietnam-oorlog vochten.
    Zo'n 20% van de soldaten was verslaafd aan heroïne, een van de meest verslavende drugs, die een behoefte creeërt die je kunt vervullen door te gebruiken en waardoor je je dan op dat moment even lekker voelt.
    Normale afkickprogramma's waren er op gericht om de heroïne-behoefte weg te nemen.
    Dat had vaak slechts een tijdelijk effect: na verloop van tijd gingen veel mensen toch weer gebruiken.
    Bij de Amerikaanse soldaten werkte het echter anders: op het moment dat ze terugkwamen uit de oorlog en terug waren in hun gezin, waren hun diepere behoeften zoals liefde, rust en goedheid opeens weer vervuld, en bleken ze de heroïne opeens niet meer nodig te hebben.
    Zo'n 90% van de verslaafde soldaten stopten bijna van de ene op de andere dag, iets wat experts op dat moment niet voor mogelijk hadden gehouden!
</p>

<h2>
    Mogelijkheden en onmogelijkheden
</h2>
<p>
    Hierboven hebben we het voornamelijk gehad over of behoeften <em>nuttig</em> of juist <em>onnuttig</em> waren.
    Er speelt echter ook nog iets anders.
    Namelijk of het vervullen van bepaalde behoeften überhaupt wel <em>mogelijk</em> is!
    Als je bijvoorbeeld verlamd bent dan is de wens naar een gezond lichaam logisch, maar tegelijkertijd misschien ook niet realistisch (alhoewel de hoop er soms kan zijn!).
    Of als je een relatie en kinderen hebt, dan blijkt de behoefte aan orde en structuur in de praktijk niet altijd haalbaar: er gebeuren immers weleens onverwachte dingen, en je kinderen hebben zo hun eigen wensen en eigenaardigheden.
    En alhoewel de kracht van hoop niet valt te ontkennen, kan het soms zo zijn dat een leven voor teleurstelling het eigenlijk niet waard is om tevergeefs te hopen op iets wat niet gaat komen.
    Dit kan een proces van rouw zijn, waarin je afscheid neemt van een bepaalde manier van leven of van bepaalde hoop.
    Tegelijkertijd is het goed om geen bovenmatige focus te leggen op dat wat je moet missen, maar in plaats daarvan ook blij te zijn met wat je <em>wel</em> hebt, en de mooie dingen om je heen.
    En wellicht zijn er ook kleine elementen waarin je wel terechte hoop hebt, of zelf iets toe kan voegen aan het vervullen van je behoeften.
    Dan zou mijn advies zijn om daar op een gematigde manier mee om te gaan: acties in gang zetten waar nodig, maar tegelijkertijd ook tevreden te zijn met wat je al hebt.

    {% include secondarybiglink.html label="Lees hier meer over hoe je kunt streven naar beter en tegelijkertijd tevreden kunt zijn" link="/blog/streven-versus-tevredenheid" %}
</p>

<h2>
    Dus
</h2>
<p>
    Mijn advies is dus als volgt.
    Ten eerste is het goed om je behoeften te inventariseren zodat je weet waar je je energie aan besteedt en waar je emoties vandaan komen.
    Probeer die behoeften terug te brengen tot één van de basisbehoften.
    Daarna is het dan belangrijk om onderscheid te maken tussen de diepere basisbehoeften zoals liefde, intimiteit en zingeving en de 'plattere' behoefen zoals status, succes en plezier.
    Vervolgens is de strategie tweeledig: stop als dat kan met de zinloze platte behoeften, maar besef tegelijkertijd dat die vaak een opvulling zijn omdat je een andere, diepere basisbehoefte mist.
    Zorg er dus vooral voor dat je probeert om invulling te geven aan die diepe behoeften zoals liefde, intimiteit en zingeving.
    Dat doe je door contact te zoeken met mensen om je heen, door iets goeds te doen, spiritualiteit te beoefenen en ook door het goede te zien in de dingen om je heen.
</p>
<p>
    Hoe je precies een verandering in gang zet, daarover schrijf ik later meer.
</p>
<p>
    Maar uiteraard zijn je behoeften en de invulling daarvan niet de enige 'knop' waaraan je kunt draaien om diep geluk en vrede te ervaren.
    {% include biglink.html label="Lees meer in het definitieve stappenplan om gelukkiger te worden" link="/blog/het-definitieve-stappenplan-om-gelukkiger-te-worden" %}
</p>

<!--
<p>
    Zingeving is het gevoel dat je deel uitmaakt van iets beters of onderweg bent naar iets beters.
</p>
<p>
    Als het gaat om onze behoeften dan is het eigenlijk simpel: probeer met je behoeften zo dicht mogelijk te blijven
    bij universele menselijke behoeften zoals liefde, goedheid, zingeving, gezondheid en intimiteit.
    Wees alert op behoeften die ons niet verder helpen: behoefte aan status, beter willen zijn dan anderen, korte
    termijn pleziertjes en verslavingen.
    Vaak zijn die 'nepbehoeften' zoals de drang naar status of verslavingen, allemaal heel goed te verklaren, maar dat
    betekent niet dat ze ons leven uiteindelijk verder helpen.
    Ook hier helpt het om simpelweg eens op te schrijven waar jouw behoeften liggen.
    Soms kom je daar snel genoeg achter als je opschrijft waar je je tijd in dit leven aan besteed.
    We doen immers alles met een reden.
    Op die manier kun je terug redeneren van je tijdsbesteding ('heel veel winkelen') naar behoeften zoals 'sociaal
    contact', 'waardering' of misschien 'een ziekelijke verslaving'.
    En vervolgens kun je je behoeften stap voor stap proberen te veranderen.
</p>

<p>
    Zingeving: Coen Simon: "niet de vervulling van ons verlangen, maar het verlangen zelf geeft zin aan ons leven."

    De zieke Lisanne: Geluk is "hoop hebben". En "Soms had ik niets anders dan dat".
    https://www.lisanneleeft.nl/geluk-is-hoop-hebben/
</p>
-->