---
layout: blog
title: Stoppen met malen en piekeren
author: Willem Mulder
date: 2020-01-31 12:01:00 +0200
categories: oplossingsrichting
permalink: blog/stoppen-met-malen-en-piekeren
---

<p>
    Ik ben een denker. 
    Altijd al geweest.
    Bij alles wat ik zie heb ik wel een gedachte.
    Als ik een kathedraal zie, vraag ik me af hoe ze vroeger zo'n kollosaal bouwwerk konden bedenken en met elkaar konden bouwen.
    Bij een hybride auto denk ik na over hoe je de aandrijving van benzine en elektrisch combineert.
    En is het niet apart dat de maan bij de horizon altijd groter lijkt?
    Wat me vroeger nog het meest fascineerde was magnetisme. 
    Dingen die elkaar zomaar aantrokken.
    Ik heb lang gedacht dat ik met magneten een apparaat kon maken dat eindeloos zou blijven draaien zonder dat het energie kostte.
</p>
<!--excerpt-->
<p>
    Ik vind denken leuk.
    Maar soms helpt het me niet.
    Als iets tegenzit, dan blijft m'n hoofd er over malen.
    Ook als het iets is waar ik helemaal geen invloed op heb, merk ik dat het me erg bezig kan houden.
    En daar word ik vaak niet gelukkig van.
    {% comment %}
        Ook houden gedachten me soms tegen om simpelweg te genieten van de mooie dingen.
        Dan ben ik op het strand en in plaats van gewoon te genieten van het zand en het eindeloze water, denk ik "hoe zou die nummering op de strandpalen precies werken?". 
        Lekker dan.
    {% endcomment %}
</p>
<p>
    Dat betekent niet dat denken verkeerd is.
    Het helpt ons om vooruit te denken, verbanden te leggen en een stukje zelfreflectie te doen.
    Denken is dus prima.
    Maar <em>te</em> veel denken niet.
    En zeker niet als dat piekeren wordt waar je niks mee oplost.
    Dan kun je steeds verder in jezelf verzinken en omlaag worden gezogen in steeds negatievere gedachten.
    Maar hoe kom je van dat piekeren af?
</p>
<!--/excerpt-->
<h2>
    Waarom we piekeren
</h2>
<p>
    Het klinkt misschien gek, maar we piekeren omdat ons hoofd ons graag een goed en fijn leven wil geven.
    Onze hersenen willen alle problemen die het ziet graag voor ons begrijpen, oplossen en voor de toekomst voorkomen.
    Dat betekent dat je kunt malen over van alles: iets wat je nog moet doen, iets waar je tegen op ziet, iets wat je niet begrijpt.
    Je hersenen vinden dat zelfs zo belangrijk dat ze de lijst met dingen die opgelost moeten worden altijd goed opslaan voor later.
    Ik noem dit de 'open eindjes': de dingen waarvan je hersenen vinden dat je er nog over na moet denken.
    In het model zie je {% include pointerreference.html ref="1" label="bovenin" %} dat er vanuit je gedachten open eindjes kunnen ontstaan die dan later weer in je gedachten terugkomen.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties en waarderen en open eindjes) naar emotie naar geluk" src="model_3.png" p_id="1" p_x=43 p_y=0 p_s=3.5 %}
</p>
<p>
    Open eindjes kunnen positief zijn (je bent helemaal enthousiast over je komende vakantie) en dan is het natuurlijk juist fijn om daar over na te denken.
    Maar voor negatieve open eindjes kan het vaak gebeuren dat we er te veel aandacht aan besteden.
    Bijvoorbeeld als je je voor elk familiebezoek zorgen maakt over of de familie je huis wel netjes genoeg vindt.
    Nogmaals: onze hersenen bedoelen het goed.
    Ze willen ons helpen.
    En dat is lief.
    Maar lang niet altijd zinvol.
    Als een situatie bijvoorbeeld toch niet is op te lossen, het doel onbereikbaar is of als de situatie helemaal niet belangrijk genoeg is om continu over te piekeren.
    Dat laatste gebeurt maar al te vaak: we denken dat het nuttig is om ergens diep over na te denken, maar daardoor missen we al het mooie dat er om ons heen gebeurt.
    Daardoor blijven we rondzwemmen in gedachten die gaan over vervelende situaties en problemen en missen we de dingen die ons op kunnen beuren.
    Daarom kan het enorm zinvol zijn om in ons hoofd wat minder bezig te zijn met dingen die onveranderbaar, onbereikbaar of onbelangrijk zijn.
</p>
<h2>
    Hoe je er vanaf komt
</h2>
<p>
    Eigenlijk is de strategie om minder te piekeren oppervlakkig gezien niet al te ingewikkeld.
    Ten eerste: besteed op de juiste momenten tijd aan de juiste open eindjes.
    Ten tweede: los dan zo veel mogelijk open eindjes op.
    En ten derde: zorg dat er geen nieuwe open eindjes bijkomen.
    De grote vraag is natuurlijk hoe we dat voor elkaar kunnen krijgen.
</ul>
<h3>
    Open eindjes toestaan
</h3>
<p>
    Om onze bestaande open eindjes op te lossen, moeten we ze durven toestaan.
    Want zolang je ze wegdrukt, blijven ze in je open-eindjes-voorraad zitten en kom je er nooit vanaf.
    Daarbij geeft een grote open-eindjes-voorraad juist veel onrust en daar schiet je dus niks mee op.
    Open eindjes hebben zijn vaak emotioneel en we zagen al dat het <a href='/blog/hoe-kun-je-gelukkiger-worden'>niet verstandig is om emoties weg te duwen</a>.
    En wat fijn is: gek genoeg worden dingen soms minder eng <em>juist</em> door ze in je gedachten toe te laten.
    Het is dan alsof je iets engs tóch doet, en waarvan je dan achteraf zegt: "dat viel eigenlijk best mee, dat ik daar nou zo bang voor was!". 
    Dat betekent overigens niet dat je dus continu met je open eindjes bezig moet.
</p>
<h3>
    De juiste tijd vinden
</h3>
<p>
    Als je de hele dag open eindjes toelaat of ze zelfs actief oproept, is het goed mogelijk dat je hersenen oververhit raken en de negatieve emoties je te pakken krijgen.
    Het is dus een kunst om je open eindjes <em>wel</em> serieus te nemen maar tegelijk de piekermomenten wat te kanaliseren zodat ze niet al je tijd en enerige verbruiken.
    Je zou bijvoorbeeld een 'piekeruurtje' kunnen plannen (bijvoorbeeld "elke woensdag tussen 8 en 9") waarin je over je zorgen nadenkt, of beter nog: er over schrijft of er met anderen over praat.
    Het feit dat je er een specifieke tijd voor vrijruimt betekent dat je de problemen wél serieus neemt, maar omdat je de tijd beperkt tot één uur zorg je dat het niet meer je hele leven beheerst.
    Dit kan soms helpen om je piekertijd te beperken.
</p>
<p>
    Ook is het goed om te beseffen dat je hersenen open eindjes vooral weer ophalen op het moment dat ze iets herkennen wat met het open eindje te maken heeft.
    Als je dus bepaalde open eindjes op bepaalde momenten niet op wilt roepen, zorg dan dat je zo veel mogelijk uit de buurt blijft van dingen die aan dat open eindje doen denken.
    Een veel voorkomend voorbeeld daarbij is de scheiding tussen werk en privé. 
    Je kunt je voorstellen dat je de zorgen van je werk weg wil houden uit de privésfeer.
    Immers: je wilt in je vrije tijd <em>juist</em> opladen en even kunnen ontspannen.
    Om dit te bereiken moet je zorgen dat je voor je hersenen een grote afstand creëert tussen werk en privé.
    Een praktische tip is om tijdens je vrije tijd andere kleren en een ander luchtje te dragen dan op je werk.
    En om na je werk een bepaald 'ritueel' uit te voeren waarmee je je werk afsluit.
    Bijvoorbeeld door je om te kleden, je werktelefoon uit te zetten, een muziekje op te zetten en een sap verse sinaasappelsap te persen.
    Zie <a href='https://www.youtube.com/watch?v=fc3c3OrpKSI' target="_blank">deze video (met Nederlandse ondertiteling)</a> voor meer uitgebreide tips om je werkgedachten uit te zetten tijdens je vrije tijd.
    Als jij dus wilt dat bepaalde open eindjes niet terug komen op momenten dat je daar niet op zit te wachten, neem dan bewust afstand van dingen die met die open eindjes te maken hebben.
</p>
<p>
    Soms kan het zijn dat je even helemáál niet na wilt denken over allerlei dingen.
    Niet over je open eindjes, maar ook niet over allerlei andere dingen die je ziet.
    Dat laatste is vaak mijn probleem: bij alles wat ik zie heb ik wel een gedachte.
    Om dat even opzij te zetten is het heerlijk om te sporten, fysiek bezig te zijn of in de natuur te lopen.
    Daar word je hoofd letterlijk leeg van.
    Een andere methode kan bijvoorbeeld mindfulness zijn; waarbij je zonder te oordelen focust op de dingen in het hier en nu.
    Wat voor mij bijvoorbeeld werkt is dat ik naar dingen kijk en m'n aandacht helemaal richt op de mooie details ervan: de lijnen, kleuren, textuur of geur.
    Dat voorkomt dat ik ga denken over het "waarom", "hoe" enzovoorts.
</p>
<h3>Emoties verwerken</h3>
<p>
    Op de momenten dat je een open eindje toelaat, levert dat vaak emoties op.
    Probeer <a href='/blog/wat-te-doen-met-emoties'>daarmee om te gaan zoals met elke andere emotie</a>.
    Bepaal of de emotie (en het open eindje) terecht is, en onderneem vervolgens actie.
    Als de emotie terecht is: doe wat de emotie van je vraagt.
    Als de emotie onterecht is: vind uit welke gedachtenpatronen onder de emotie liggen, en probeer die te corrigeren.
</p>
<h3>Voorkom nieuwe open eindjes</h3>
<p>
    Het is fijn als we bestaande open eindjes op de juiste tijd toe kunnen laten en kunnen verwerken.
    Maar we willen uiteraard ook dat er niet op dezelfde snelheid weer nieuwe open eindjes bijkomen.
    Bij mijzelf ontstonden er vaak open eindjes op m'n werk als ik een project niet op tijd af ging krijgen.
    Ik wilde dan geen slecht nieuws brengen en hoopte dat alles met wat geluk en 'extra hard werken' toch nog goed zou komen.
    Vaak kwam het project alsnog niet op tijd af zodat ik vlak voor de deadline een nog veel vervelender bericht moest brengen, en in de tussentijd had ik enorm last van open eindjes en stress.
    Die open eindjes waren niet nodig geweest als ik had gedurfd om eerder met slecht nieuws te komen.
    Ik wilde graag degene zijn waar alles goed verliep, maar ik zat daardoor mezelf (en klanten) juist in de weg.
</p>
<p>
    Het fijne van bovenstaande technieken is dat ze niet alleen bestaande open eindjes oplossen, maar ook nieuwe open eindjes voorkomen.
    Als je immers openstaat voor je emoties en die op de juiste manier verwerkt, dan heeft je hoofd ook minder behoefte om allerhande zaken als open eindje te bewaren voor later.
    Voor mij betekende het bijvoorbeeld dat ik eerlijk heb geluisterd naar m'n stress-emotie, heb gekeken waar die vandaan kwam, en m'n (onterechte) behoefte aan oppervlakkige waardering kleiner heb gemaakt.
    Daardoor communiceer ik nu sneller en maak me minder zorgen om wat anderen van me vinden.
    Dat scheelt een hoop open eindjes in m'n hoofd.
</p>
<h2>
    Toch is het mooi
</h2>
<p>
    Het feit dat je bepaalde open eindjes kunt voorkomen, betekent niet dat er <em>helemaal</em> geen open eindjes zulen ontstaan.
    Maar dat is niet per sé erg. 
    Het is logisch dat je niet altijd alle emotie direct kunt verwerken.
    Dan is het open-eindjes mechanisme juist heel gezond: het geeft aan dat je dingen belangrijk vindt, dat je die op wilt lossen, en dat is bij veel dingen helemaal terecht!
    Streef dus ook hier niet naar perfectie.
    Open eindjes zijn een normaal mechanisme.
    Verdriet en pijn horen erbij.
    Verwerken kost tijd.
    Perfect gelukkig zul je niet worden.
    En dat is helemaal niet erg.
</p>
<p>
    {% include biglink.html label="Lees hier meer over de onmogelijkheid van perfect geluk" link="/blog/perfect-geluk" %}
</p>

<!--
Let op: het omgekeerde geldt ook: als je juist véél aandacht aan positieve dingen geeft, dan beïnvloedt dat je ten goede!
-->