---
layout: page
title: Blog
permalink: /blog
---

<!-- Introduction -->
<section id="blogs">
    <div class="content">
        <header class="major">
            <h2>Blog</h2>
        </header>
        <p>
            Via artikelen schrijf ik regelmatig over geluk, zingeving en de samenleving. Als je hier nieuw bent zou ik je aanraden om met onderstaande artikelen te beginnen.
        </p>
        <p>
            {% include biglink.html label="Wat is geluk" link="/blog/wat-is-geluk" %}
            {% include secondarybiglink.html label="Hoe kun je gelukkiger worden" link="/blog/hoe-kun-je-gelukkiger-worden" %}
            {% include secondarybiglink.html label="Wat zijn emoties" link="/blog/wat-zijn-emoties" %}
            {% include secondarybiglink.html label="Waar komen emoties vandaan" link="/blog/waar-komen-emoties-vandaan" %}
            {% include secondarybiglink.html label="Wat te doen met emoties" link="/blog/wat-te-doen-met-emoties" %}
            {% include secondarybiglink.html label="Het definitieve stappenplan om gelukkiger te worden" link="/blog/het-definitieve-stappenplan-om-gelukkiger-te-worden" %}
            {% include secondarybiglink.html label="Streven versus tevredenheid" link="/blog/streven-versus-tevredenheid" %}
        </p>
        <hr/>
        <p>
            <h3>Nieuwste artikel: <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h3>
            <p class="articlesubheader"> 
                {% include date.html date=site.posts.first.date %} - 
                {{ site.posts.first.author }} - 

                {% assign readTime = site.posts.first.content | strip_html | number_of_words | divided_by:site.words_per_minute | round %}
                {% if readTime == 0 %}
                {% assign readTimeText = "Minder dan één" %}
                {% elsif readTime == 1 %}
                {% assign readTimeText = "Één" %}
                {% elsif readTime == 2 %}
                {% assign readTimeText = "Twee" %}
                {% elsif readTime == 3 %}
                {% assign readTimeText = "Drie" %}
                {% elsif readTime == 4 %}
                {% assign readTimeText = "Vier" %}
                {% elsif readTime == 5 %}
                {% assign readTimeText = "Vijf" %}
                {% elsif readTime == 6 %}
                    {% assign readTimeText = "Zes" %}
                {% elsif readTime == 7 %}
                {% assign readTimeText = "Zeven" %}
                {% elsif readTime == 8 %}
                {% assign readTimeText = "Acht" %}
                {% elsif readTime == 9 %}
                {% assign readTimeText = "Negen" %}
                {% else %}
                {% assign readTimeText = readTime %}
                {% endif %}

                {% if readTime <= 1 %}
                {{readTimeText}} minuut lezen
                {% else %}
                {{readTimeText}} minuten lezen
                {% endif %}
            </p>
            <p>
                {{ site.posts.first.excerpt | markdownify | strip_html }}
                <a href="{{site.posts.first.url}}">verder lezen...</a>     
            </p>
        </p>
        <hr/>
        <p>
            Je kunt verder <a href='/blog/alle'>alle artikelen hier vinden</a>. Ook is er een <a href='/feed.xml'>RSS feed</a>.
        </p>
    </div>
</section>