---
layout: page
title: Blog
permalink: /blog
---

<!-- Introduction -->
<section id="blogs">
    <div class="content">
        <header class="major">
            <h2>Blog</h2>
        </header>
        <p>
            Deze blog bevat artikelen over geluk, zingeving en de samenleving. 
        </p>
        <div class="row gtr-uniform">
            <div class="col-6 col-12-small">
                <p>
                    In onderstaande serie artikelen wordt uitgelegd wat geluk is, hoe geluk werkt en hoe je het geluk wat vaker tegen kunt komen.
                </p>
                <p>
                    {% assign pages = site.categories.serie_basis | sort:'date' %}
                    {% for post in pages %}
                        {% include secondarybiglink.html label=post.title link=post.url %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-6 col-12-small">
                <p>
                    Onderstaand het meest recente artikel.
                    Als er een nieuwe blog wordt gepubliceerd, dan verschijnt deze hier.
                </p>
                <h3><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h3>
                <p class="articlesubheader"> 
                    {% include date.html date=site.posts.first.date %} - 
                    {{ site.posts.first.author }} - 
    
                    {% assign readTime = site.posts.first.content | strip_html | number_of_words | divided_by:site.words_per_minute | round %}
                    {% if readTime == 0 %}
                    {% assign readTimeText = "Minder dan één" %}
                    {% elsif readTime == 1 %}
                    {% assign readTimeText = "Één" %}
                    {% elsif readTime == 2 %}
                    {% assign readTimeText = "Twee" %}
                    {% elsif readTime == 3 %}
                    {% assign readTimeText = "Drie" %}
                    {% elsif readTime == 4 %}
                    {% assign readTimeText = "Vier" %}
                    {% elsif readTime == 5 %}
                    {% assign readTimeText = "Vijf" %}
                    {% elsif readTime == 6 %}
                        {% assign readTimeText = "Zes" %}
                    {% elsif readTime == 7 %}
                    {% assign readTimeText = "Zeven" %}
                    {% elsif readTime == 8 %}
                    {% assign readTimeText = "Acht" %}
                    {% elsif readTime == 9 %}
                    {% assign readTimeText = "Negen" %}
                    {% else %}
                    {% assign readTimeText = readTime %}
                    {% endif %}
    
                    {% if readTime <= 1 %}
                    {{readTimeText}} minuut lezen
                    {% else %}
                    {{readTimeText}} minuten lezen
                    {% endif %}
                </p>
                <p>
                    {{ site.posts.first.content | split:'<!--excerpt-->' | last | split:'<!--/excerpt-->' | first | markdownify | strip_html }}
                    <a href="{{site.posts.first.url}}">verder lezen...</a>     
                </p>
            </div>
        </div>
        <hr/>
        <p>
            {% include biglink.html label="Klik hier om alle artikelen te bekijken" link="/blog/alle" %}
        </p>
        <p>
            Ook is er een <a href='/feed.xml'>RSS feed</a> die je kunt gebruiken om via een <a href='https://feedly.com/'>RSS lezer</a> altijd op de hoogte te blijven van nieuwe artikelen.
        </p>
    </div>
</section>