---
layout: page
title: Blog
permalink: /blog
---

<!-- Introduction -->
<section id="blogs">
    <div class="content">
        <header class="major">
            <h2>Blog</h2>
        </header>
        <p>
            Via artikelen schrijf ik regelmatig over geluk, zingeving en de samenleving. Als je hier nieuw bent zou ik je aanraden om met onderstaande artikelen te beginnen.
        </p>
        <p>
            {% include biglink.html label="Wat is geluk" link="/blog/wat-is-geluk" %}
            {% include secondarybiglink.html label="Hoe kun je gelukkiger worden" link="/blog/hoe-kun-je-gelukkiger-worden" %}
            {% include secondarybiglink.html label="Wat zijn emoties" link="/blog/wat-zijn-emoties" %}
            {% include secondarybiglink.html label="Waar komen emoties vandaan" link="/blog/waar-komen-emoties-vandaan" %}
            {% include secondarybiglink.html label="Wat te doen met emoties" link="/blog/wat-te-doen-met-emoties" %}
            {% include secondarybiglink.html label="Streven versus tevredenheid" link="/blog/streven-versus-tevredenheid" %}
        </p>
        <p>
            Je kunt verder <a href='/blog/alle'>alle artikelen hier vinden</a>. Ook is er een <a href='/feed.xml'>RSS feed</a>.
        </p>
    </div>
</section>