---
layout: blog
title:  Wat te doen met emoties
author: Willem Mulder
date:   2019-10-10 12:26:00 +0200
categories: basis
permalink: blog/wat-te-doen-met-emoties
---

<!--
    Naam veranderen?
-->

<p>
    In dit artikel gaan we in op hoe je het beste met emoties om kunt gaan.
    Emoties zijn echter enorm complex en iedereen zit anders in elkaar.
    Het is dus lastig om een kant-en-klaar advies te geven wat voor iedereen werkt.
    Maar hopelijk kun je sommige onderdelen toepassen op jezelf of op anderen.
    Daarbij besef ik dat het bijna nooit eenvoudig is om daadwerkelijk verandering in gang te zetten.
    Veranderen is moeilijk en verandering kost energie.
    Energie die je misschien nu niet hebt.
    Je kunt altijd <a href='/contact'>contact met me opnemen</a> als je extra tips of ondersteuning wilt.
    Al met al hoop ik dat we sommige problemen op kunnen lossen, onnodige negatieve emoties kunnen vermijden, en meer kunnen genieten van de mooie dingen die er zijn.
</p>
<!--more-->
<p>
    Wat we gezien hebben is dat <a href='/blog/wat-zijn-emoties'>emoties er zijn om je leven in 'de juiste richting' te sturen</a>.
    Als je hersenen denken dat een situatie goed voor je is krijg je positieve emoties.
    En als je hersenen denken dat een situatie <em>niet</em> goed voor je is krijg je negatieve emoties.
    Het idee van je gedachten en emoties is dat ze je helpen om de juiste actie te nemen.
    Om zo te zorgen dat je positieve dingen <em>wel</em> bereikt en negatieve dingen juist <em>niet</em> bereikt, of beter nog: dat je negatieve dingen voorkomt.
</p>
<p>
    Uiteraard <a href='/blog/perfect-geluk'>doe je je emoties tekort als je alleen maar positieve emotie wilt voelen</a>.
    Negatieve emoties zijn immers bijzonder waardevol in situaties dat er werkelijk gevaar dreigt.
    Maar toch zijn er allerlei redenen die er voor kunnen zorgen <a href='/blog/waar-komen-emoties-vandaan'>dat je onterechte negatieve emoties hebt</a>.
    Om daar goed mee om te gaan <a href='/blog/hoe-kun-je-gelukkiger-worden'>moet je negatieve emoties niet wegduwen of verbloemen maar de oorzaak van de emotie achterhalen en daar actie op ondernemen</a>.
    Alleen op die manier kun je de negatieve emotie duurzaam wegnemen.
    In het schema is dat de onderste keuze.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan.png" %}
</p>
<p>
    Om te weten wat we concreet moeten doen om de negatieve emoties duurzaam op te lossen, moeten we eerst bepalen of een negatieve emotie terecht of onterecht is.
    Als de emotie immers terecht is, dan moeten we luisteren naar wat de emotie ons duidelijk maakt, en actie ondernemen.
    Maar als de emotie onterecht is, dan wil je zorgen dat die emotie verdwijnt of minder wordt.
    Onterechte negatieve emoties helpen je immers niet, en geven alleen maar onnodige onrust en negativiteit.
</p>
<p>
    Om goed met onze emoties om te gaan, moeten we dus als eerste moeten we bepalen welke emoties terecht en welke onterecht zijn.
    En ten tweede willen we dan de juiste actie ondernemen. 
    Bij terechte emotie willen we onze situatie aanpassen. En bij onterechte emoties willen we in ons hoofd iets aanpassen.
    In het onderstaande schema is dat de splitsing onderin.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan_terecht_onterecht.png" %}
</p>
<p>
    Overigens geldt dit schema niet alleen bij het opvolgen van <em>negatieve</em> emoties.
    Ook <em>positieve</em> emoties kunnen soms onterecht zijn.
    Bijvoorbeeld als je positieve emoties zoekt om er voor zorgen dat je negatieve emoties wegduwt (bijvoorbeeld door hard te werken of door plat plezier).
    Of als ze je na het geluksmoment juist extra onrustig maken (denk bijvoorbeeld aan verslavingen).
    In die gevallen wil je dus ook je <em>positieve</em> emoties aanpakken en terugbrengen tot zinvolle proporties.
    Maar laten we bij het begin beginnen.
</p>
<h2>
    Gedachtenpatronen
</h2>
<p>
    Zoals we gezien hebben zijn emoties in zichzelf altijd goedbedoeld van je hersenen.
    Emoties zijn een logisch gevolg van je gedachtenpatronen, op basis van herinneringen, mentale modellen en behoeften.
    Als we dus willen kijken of een emotie terecht is, dan moeten we kijken of de <em>gedachtenpatronen</em> terecht zijn.
</p>
<p>
    Laten we de onderdelen van gedachtenpatronen één voor één bekijken. 
    Eerder zagen we al dat <a href='/blog/waar-komen-emoties-vandaan'>gedachtenpatronen onder te verdelen zijn in twee types</a>.
    Ten eerste de 'directe associatie' op basis van herinneringen.
    En ten tweede de 'beredeneerde waardering' van wat je ziet, hoort, voelt en denkt op basis van je behoeften en mentale modellen.
</p>
<p>
    {% include image.html src="model_2_4.png" %}
</p>
<h3>
    Directe associatie
</h3>
<p>
    Laten we beginnen met het eerste type gedachtenpatronen.
    Dat is de 'directe associatie' op basis van herinneringen.
    Met deze directe associatie bedoel ik dat bepaalde specifieke herinneringen of gedachten een heel directe emotionele reactie kunnen opleveren.
    Zo'n associatie is goedbedoeld, want die negatieve emoties zijn immers bedoeld om te voorkomen dat de negatieve gebeurtenis nog eens optreedt.
    Maar als de gedachten of emoties onterecht of overdreven zijn, streven ze hun doel voorbij.
</p>
<p>
    Hoe weet je nu of een associatie onterecht of overdreven is?
    Dat gebeurt als de associaties emoties en gevoelens veroorzaken die je verstandelijk eigenlijk niet meer kunt verklaren.
    De mate waarin associaties onterecht zijn, kan variëren van 'een heel klein beetje overdreven' tot 'volledig uit proporties'.
    In de ergere varianten treden ook vaak sterke lichamelijke reacties op.
    Soms leidt ook de wens om de (emotionele en fysieke) pijn niet te voelen tot gebruik van verdovende middelen of het zichzelf afsluiten van alle emotionele beleving.
    De heftige variant van onterechte directe associatie met iets uit het verleden wordt ook wel een trauma genoemd.
    De kenmerken van een trauma zijn volgens het DSM5 handboek (gebruikt door psychiasters voor diagnostiek van psychische stoornissen):
    <ul>
        <li>de blootstelling aan een heftige gebeurtenis in het verleden, meestal rondom dood, verwonding of seksueel misbruik</li>
        <li>de ontwikkeling sindsdien van zaken zoals (onvrijwillige) pijnlijke herinneringen, dromen, dissociaties en lichamelijke reacties</li>
        <li>het vermijden van zaken die iets te maken hebben met (of reacties oproepen over) de traumatische gebeurtenis</li>
        <li>de ontwikkeling sinds de traumatische gebeurtenis van negatieve stemmingen en gedachten </li>
        <li>de ontwikkeling sinds de traumatische gebeurtenis van fysieke klachten zoals stress, prikkelbaar gedrag, hyperventilatie of schrikreaties</li>
    </ul>
    Betekent dat dan dat je bij één van bovenstaande kenmerken direct last hebt van een trauma?
    Nee, misschien niet.
    Maar of je het nu trauma noemt of geen trauma noemt, dat maakt voor de situatie niet uit.
    Immers: als er herinneringen uit het verleden zijn met een directe emotionele associatie die onterecht is, dan is dat hoe dan ook vervelend, los van hoe je het noemt en welke gradatie het heeft.
    Het goede nieuws: er is vaak wel iets tegen te doen!
</p>
<p>
    Er zijn allerhande behandelingen tegen trauma.
    Een bekende is EMDR, wat staat voor 'Eye Movement Desensitization and Reprocessing' en werkt door gelijktijdig herinneringen op te roepen uit het verleden én bezig te zijn met je zintuigen, bijvoorbeeld door met je ogen de vinger van de therapeut te volgen.
    Deze behandeing is in de basis zo eenvoudig dat vroeger niet werd geloofd dat het werkte.
    Maar inmiddels is bewezen dat de behandeling over het algemeen erg goed werkt en wordt de behandeling door veel erkende therapeuten en ziekenhuizen aangeboden.
    Zie voor meer informatie bijvoorbeeld <a href='https://www.emdr.nl/'>emdr.nl</a>.
</p>
<h3>
    Waarderen van je huidige situatie
</h3>
<p>
    Het tweede type gedachtenpatronen ging over het 'beredeneerd waarderen' van een situatie aan de hand van onze behoeften.
    Op elk moment van de dag zijn we bewust of onbewust bezig met het waarderen van wat er om ons heen gebeurt.
    We doen dat <a href='/blog/wat-zijn-emoties'>zodat we actie kunnen ondernemen om ons leven de juiste richting op te sturen en weg te houden van gevaren</a>.
    Daarbij bekijken we niet alleen wat er op een bepaald moment gebeurt, maar maken we ook voorspellingen over de toekomst.
    Als we bijvoorbeeld een rijdende auto zien, dan schatten we in of die auto ons netjes passert (dat is oké) of dat ie ons zal raken (dat is <em>niet</em> oké).
    Het feit dat we kunnen voorspellen of een auto ons gaat raken is behoorlijk indrukwekkend.
    Je moet ten eerste aan de vorm, kleur enzovoorts herkennen dat je met een auto te maken hebt.
    Daarna moet je beseffen dat de auto met en bepaalde snelheid in jouw richting rijdt.
    Vervolgens de snelheid en richting van de auto combineren met jouw situatie en de tijd die de bestuurder heeft om bij te sturen.
    Om vervolgens te concluderen dat er een aardige kans is dat de auto je gaat raken.
    In je hoofd bedenk je vervolgens een mogelijk actie, bijvoorbeeld een snelle stap naar achteren.
    En vervolgens bereken je opnieuw of de auto je dan nog steeds zal raken.
    Zo blijf je bliksemsnel denken todat je een actie hebt verzonnen die je uit gaat voeren.
</p>
<p>
    De hele cirkel van interpreteren, voorspellen, waarderen en een actie bedenken is iets wat we de hele dag door doen.
    Het 'waarderen' verdient daarbij wat extra aandacht.
    Het proces van waarderen bepaalt of een situatie 'fijn' is of juist 'niet fijn'.
    Bij een 'dit is fijn' waardering krijg je positieve emoties maar bij een 'dit is niet fijn' waardering krijg je juist negatieve emoties.
    Zoals we zagen zijn die emoties vervolgens bedoeld zodat je actie onderneemt om je leven in de juiste richting bij te sturen.
    Maar hoe weten jouw hersenen nu wat 'fijn' is of wat juist 'niet fijn' is?
    Dat is gebaseerd op jouw behoeften.
    Als je hersenen zien dat een situatie er voor gaat zorgen dat jouw behoeften vervuld worden, dan is dat 'fijn'.
    Maar als je hersenen zien dat een situatie er juist <em>niet</em> voor gaat zorgen dat je behoeften vervuld worden, dan is dat 'niet fijn'.
    Uiteindelijk bepalen je behoeften dus (naast 'directe associaties', zie boven) hoe je op situaties reageert en hoe je je voelt.
</p>
<p>
    Schematisch is dat rechtsonderin weergegeven als drie onderdelen.
    Ondering zien we onze behoeften.
    Daarboven onze 'mentale modellen'.
    Daarmee bedoel ik al onze kennis en ideeën over hoe dingen werken.
    Bijvoorbeeld kennis over 'wat is een auto' en 'hoelang duurt het voordat een bewegend ding mij raakt'.
    Maar ook dingen als 'wie ben ik', 'hoe werkt de wereld', 'waarom reageert de buurman altijd zo kortaf' en 'spinnen zijn eng'.
    Door je mentale modellen ben je in staat om in te schatten wat er gebeurt en wat er gáát gebeuren.
    Die huidige of toekomstige situatie kun je vervolgens waarderen aan de hand van je behoeften.
</p>
<p>
    {% include image.html src="model_2_4.png" %}
</p>
<p>
    De inschatting die je hersenen maken over een situatie zijn vaak terecht.
    In dat geval helpen je emoties je vervolgens om aan te geven wat je moet doen.
    Een positieve emotie geeft aan dat de situatie prettig is en dat je in de toekomst zeker moet proberen dit nog een keer mee te maken.
    Een negatieve emotie geeft juist aan dat je iets moet doen om de negatieve situatie aan te pakken of te voorkomen.
    Daarbij wordt ook je lichaam klaargemaakt om in actie te komen.
    Het idee is dus dat je bij <em>terechte</em> emoties de dingen doet waarvan je emoties aangeven dat je ze moet doen.
    Maar bij <em>onterechte</em> emoties wil je een andere aanpak en zorgen dat die onterechte emoties uit je hoofd verdwijnen.
    Onterechte negatieve emoties helpen je immers niet, en geven alleen maar onnodige onrust en negativiteit.
</p>
<p>
    Als we terugkeren naar de oorspronkelijke vragen bovenin dit artikel, dan willen we dus graag weten welke emoties <em>terecht</em> of juist <em>onterecht</em> zijn en hoe we vervolgens de juiste actie kunnen ondernemen.
    Daarbij willen we de <em>onterechte</em> emoties kunnen tegengaan.
    Zoals we hebben gezien komen emoties door je gedachtenpatronen, en (als het niet om een trauma gaat) uiteindelijk door je mentale modellen en je behoeften.
    Om onterechte emoties tegen te gaan moet je dus je onterechte mentale modellen en onterechte behoeften vinden en aanpakken.
    Dat is dus de onderste optie in onderstaand schema.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan_terecht_onterecht.png" %}
</p>
<p>
    Wat betreft onze mentale modellen is het lastig om concreet te maken welke modellen precies niet kloppen.
    Mentale modellen over 'de wereld' komen vaak door het type nieuws dat we volgen en welke informatie we tot ons nemen.
    Mentale modellen over onszelf komen daarentegen vaak door opvoeding of je sociale omgeving.
    Veel van ons hebben bijvoorbeeld last van gedachtes zoals 'alles wat ik doe moet nuttig zijn' of 'ik moet leuk zijn' of 'ik moet mijn energie en talenten op de meest efficiënte manier besteden'.
    De eerste stap om zulk soort gedachten te stoppen is door ze te benoemen en te herkennen.
    Schrijf bijvoorbeeld eens op hoe jij denkt over de wereld en over jezelf.
    En bespreek zaken met anderen, wellicht ook juist mensen die helemaal anders in het leven staan dan jij.
    Wat betreft je wereldbeeld: stop met het lezen van nieuwsbronnen die alleen maar sensationeel nieuws en schokkende feiten brengen.
    Dat is niet hoe de wereld werkt.
    Beter haal je nieuws uit een gedegen kwaliteitskrant of ga je überhaupt minder nieuws volgen.
    Lees voor achtergrond boeken zoals <a href='https://www.bol.com/nl/f/feitenkennis/9200000085089697/'>'Feitenkennis'</a> of bijvoorbeeld artikelen van platformen zoals <a href='https://decorrespondent.nl'>'De Correspondent'</a>.
    In het algemeen: praat met mensen, lees, luister, doe nieuwe inzichten op en ga niet op voorhand uit van je eigen gelijk.
    Mocht je het nuttig vinden om jouw ideëen en mentale modellen eens door te lichten, dan <a href='/contact'>kun je altijd contact met me opnemen</a>.
</p>
<p>
    Als het gaat om onze behoeften dan is het eigenlijk simpel: probeer met je behoeften zo dicht mogelijk te blijven bij universele menselijke behoeften zoals liefde, goedheid, zingeving, gezondheid en intimiteit.
    Wees alert op behoeften die ons niet verder helpen: behoefte aan status, beter willen zijn dan anderen, korte termijn pleziertjes en verslavingen.
    Vaak zijn die 'nepbehoeften' zoals de drang naar status of verslavingen, allemaal heel goed te verklaren, maar dat betekent niet dat ze ons leven uiteindelijk verder helpen.
    Ook hier helpt het om simpelweg eens op te schrijven waar jouw behoeften liggen.
    Soms kom je daar snel genoeg achter als je opschrijft waar je je tijd in dit leven aan besteed.
    We doen immers alles met een reden.
    Op die manier kun je terug redeneren van je tijdsbesteding ('heel veel winkelen') naar behoeften zoals 'sociaal contact', 'waardering' of misschien 'een ziekelijke verslaving'.
    En vervolgens kun je je behoeften stap voor stap proberen te veranderen.
</p>
<h2>
    Minder tobben
</h2>
<p>
    In deze artikelserie hebben we het primair gehad over hoe we reageren op een situatie die we waarnemen.
    Maar vaak zijn onze gedachten niet alleen maar gevuld met wat we zien, horen, ruiken of proeven.
    Het gebeurt maar al te vaak dat we zomaar zitten te denken aan iets dat in het verleden gebeurd is en waar we vervelende herinneringen aan hebben.
    Of we malen over iets in de toekomst waar we tegenop zien.
    Zo zijn er allerlei voorbeelden te bedenken van 'malende gedachten' die we kunnen hebben.
    Ik noem dit de 'open eindjes': de dingen waarvan je hersenen vinden dat je er nog over na moet denken.
    Die open eindjes kunnen onder andere ontstaan als je je negatieve emoties niet serieus neemt of ze wegduwt.
    Zoals we al eerder zagen <a href='/blog/hoe-kun-je-gelukkiger-worden'>is het wegduwen van negatieve emoties niet de beste manier om gelukkiger te worden</a>, onder andere dus omdat ze als open eindjes toch wel weer terugkomen.
</p>
<p>
    {% include image.html src="model_3.png" %}
</p>
<p>
    Die gedachten rondom de open eindjes zijn uiteraard goedbedoeld en hebben als doel om iets vervelends uit het verleden te verwerken of om meer grip te krijgen op iets negatiefs uit de toekomst, met als ultiem doel om dat vervelends helemaal te voorkomen.
    Dat is mooi en aardig, maar heel vaak zijn die goedbedoelde gedachten helemaal niet zo nuttig.
    Als de situatie bijvoorbeeld toch niet is op te lossen, of als de situatie helemaal niet belangrijk genoeg is om continu over te piekeren.
    Daarom kan het enorm zinvol zijn om in ons hoofd wat minder bezig te zijn met dingen die onbelangrijk zijn of met dingen die in het verleden of de toekomst liggen.
    Een methode om dat te bereiken kan bijvoorbeeld mindfulness zijn; waarbij je zonder te oordelen focust op de dingen in het hier en nu.
    Ook kan het zinvol zijn om een 'piekeruurtje' in te ruimen (bijvoorbeeld "elke woensdag tussen 8 en 9") waarin je over je zorgen nadenkt.
    Het feit dat je er een specifieke tijd voor vrijruimt betekent dat je de problemen wél serieus neemt, maar omdat je de tijd beperkt tot 1 uur zorg je dat het niet meer je hele leven beheerst.
</p>
<h2>
    Conclusie
</h2>
<p>
    We zagen dat negatieve emoties komen door directe associaties en door het waarderen van je situatie op basis van je behoeften en mentale modellen.
    Niet alle negatieve emoties zijn daarbij onterecht.
    De terechte negatieve emoties zijn nuttig en helpen je om je leven in de juiste richting te sturen.
    Ze zorgen er immers voor dat je de juiste acties onderneemt om fijne dingen nog een keer tegen te komen en onfijne dingen tegen te gaan.
    Maar ondanks dat je ook aan terechte negatieve emoties te veel tijd of energie kunt besteden, zijn het meestal de <em>onterechte</em> negatieve emoties die veel van onze aandacht vragen.
    Daarbij is het idee dat je een plan maakt om te zoeken naar de onterechte gedachtenpatronen onder die emoties.
    Die onterechte gedachtenpatronen kun je dan vervolgens aanpakken.
    Trauma's kun je aanpakken door middel van bijvoorbeeld EMDR.
    En ook je mentale modellen en je behoeften kun je proberen te wijzigen.
    Op die manier zorg je op een gezonde manier dat je minder onterechte negatieve emoties hebt.
    En dus vergroot je daarmee de kans dat je het geluk iets vaker tegenkomt.
    Tot slot helpt het om negatieve gedachten de juiste plek in je leven te geven en ze niet toe te laten om overal en altijd in je hoofd aanwezig te zijn.
</p>
<!--
    TE DOEN: gedachtenpatronen hernoemen naar 'hersenpatronen' of 'hersenstructuren'?
-->
<h2>
    Dus nu vol aan de slag?
</h2>
<p>
    Het is belangrijk om te beseffen dat verandering niet eenvoudig is.
    Misschien wil je wel allerlei dingen anders: een andere situatie, anders denken, anders reageren, je anders voelen.
    Vaak komt die wens tot verandering doordat je op dit moment niet in een prettige situatie zit, en daar graag vanaf wil.
    Maar al dat nadenken over jezelf en je huidige situatie kan al snel vervallen in malen en negativiteit.
    Waarbij de nadruk komt te liggen op hoe 'slecht' je er op dit moment aan toe bent en je de 'weg vooruit' eigenlijk niet duidelijk ziet.
    En zelfs al heb je een plan, dan kost dat uitvoeren van dat plan vaak veel energie.
    Energie die je misschien nu al niet hebt.
</p>
<p>
    Misschien vind je het daarom vooral frustrerend om na te denken over 'verbetering' als dat alleen maar de nadruk legt op het feit dat je er niet al te best aan toe bent én dat het je ook nog niet eens lukt om daar iets aan te veranderen.
    Wellicht vind je het makkelijker om je gewoon neer te leggen bij de huidige situatie en er simpelweg het beste van te maken.
    Proberen tevreden te zijn met je huidige leven en al die 'verbetering' gewoon laten voor wat het is?
    Dan zeg ik: ja, je kunt inderdaad het beste maar tevreden zijn met je leven.
    Maar <em>tegelijkertijd</em> kun je op een ontspannen manier zoeken naar verbetering.
    Dat klinkt tegenstrijdig, maar ik heb ervaren dat het kan.
    Wie het beheerst om zijn leven langzaam maar zeker in de juiste richting te sturen en tegelijkertijd tevreden is met het nu, heeft goud in handen.
    In het laatste artikel uit deze serie wil ik je graag uitleggen hoe je dat aan kunt pakken!
</p>
<p>
    {% include biglink.html label="Hoe je kunt streven naar beter en tegelijkertijd tevreden kunt zijn" link="/blog/streven-versus-tevredenheid" %}
</p>