---
layout: blog
title:  Wat zijn emoties
author: Willem Mulder
date:   2019-09-27 12:26:00 +0200
categories: basis
permalink: blog/wat-zijn-emoties
---

<p>
    Bijna iedereen ervaart in zijn leven een veelzijdige variatie aan emoties.
    Van extatische blijdschap tot het diepste verdriet. 
    Van brandende woede tot vredige rust.
    Van een brok in de keel tot trillende veronwaardiging.
    Je voelt ze als reactie op dingen die je meemaakt of die je denkt.
    Niet iedereen ervaart daarbij alle emoties op dezelfde manier, en niet iedereen vindt het even eenvoudig om zijn of haar emoties te omschrijven (bijvoorbeeld mensen met Alexithymie).
    Maar vaak herkennen we een emotie wel als we die zelf voelen of bij anderen zien.
    <!--more-->
    Emoties geven aan wat onze hersenen vinden van een bepaalde situatie. 
    Het maakt daarbij meestal niet uit of die situatie op dat moment echt gebeurt of dat het een situatie is die eerder is gebeurd, of zelfs een fictieve situatie die je op dat moment bedenkt.
    We delen emoties vaak in over twee assen waarbij de ene as varieert van negatief tot positief en de andere as van rustig tot actief. 
    Waarschijnlijk herken je veel emoties van onderstaande afbeelding wel.
</p>
<p>
    {% include smallimage.html src="model_emoties.png" %}
</p>
<p>
    Het is belangrijk om te beseffen dat emoties niet zomaar gedachten zijn.
    Gedachten gaan namelijk vaak over het beschrijven en begrijpen van alles wat er om je heen gebeurt.
    Maar emoties 'kleuren' je gedachten en beoordelen een situatie op basis van wat ze denken dat goed voor je is.
    Als je hersenen denken dat een situatie goed voor je is krijg je positieve emoties.
    En als je hersenen denken dat een situatie <em>niet</em> goed voor je is krijg je negatieve emoties.
    Die negatieve emoties zijn met opzet vervelend om de ernst van de situatie aan te geven.
    Vaak zijn emoties heel direct en zijn ze een reactie op wat je ziet, hoort, ruikt, voelt of denkt.
</p>
<p>
    <blockquote>
        Als Sjors zich omdraait ziet hij een zwarte schaduw.
        Zijn hersenen twijfelen niet: dit is een beer.
        Hij heeft dit helaas al eerder meegemaakt, en weet ook wat de verschrikkelijke gevolgen kunnen zijn als een beer je aanvalt.
        Meteen voelt hij een golf van angst over zich heen stromen.
    </blockquote>
</p>
<p>
    Emoties zijn er niet alleen maar om je 'een gevoel' te geven. 
    Het idee is dat ze je ook activeren en aanzetten tot actie om je leven de goede kant op te sturen.
    Positieve emoties zijn er om de positieve dingen te stimuleren.
    Negatieve emoties zijn er om je weg te houden van de vervelende dingen.
    In een schema zouden we dat kunnen weergeven als een serie stappen waarbij links een situatie wordt waargenomen door onze zintuigen.
    Deze waarnemingen verwerken we in de hersenen, en we vormen gedachten over wat we zien, horen of voelen.
    Bij deze gedachten vormen we vervolgens emoties.
    Als we voor langere tijd positieve emoties ervaren, zonder dat die verstoord worden door negatieve emoties, dan ervaren we geluk.
</p>
<p>
    {% include image.html src="model_2.png" %}
</p>
<p>
    Emoties zijn daarbij niet alleen beperkt tot je hoofd. 
    Bij een emotie wordt ook je lichaam alvast voorbereid op de gewenste actie.
    Als je bijvoorbeeld een angstige emotie voelt, gaat je hartslag omhoog en spannen je spieren zich aan.
    Je maakt je klaar om te vechten of te vluchten.    
    Maar bij een positieve emotie geven je hersenen aan dat het oké is wat er gebeurt, en zul je juist ontspannen.
    Het idee van je gedachten en emoties is dus juist dat ze je helpen om de juiste actie te nemen.
    Om zo te zorgen dat je positieve dingen <em>wel</em> bereikt en negatieve dingen juist <em>niet</em> bereikt, of beter nog: dat je negatieve dingen voorkomt.
</p>
<p>
    {% include image.html src="model_2_1.png" %}
</p>
<p>
    Negatieve emoties zijn daarbij net zo waardevol als positieve emoties.
    Negatieve emoties zijn immers hard nodig in situaties waarin er daadwerkelijk gevaar dreigt.
    En omdat er in deze wereld zeker wel eens gevaar dreigt, zullen er in ons leven ook altijd momenten van negatieve emotie blijven.
    Het is dus in deze wereld <a href='/blog/perfect-geluk'>onrealistisch om een perfect gelukkig leven zonder negatieve emoties te hebben</a>. 
    Maar dat geeft niet: als je leven de verkeerde kant op gaat dan is het juist fijn als je hersenen met negatieve emoties aangeven dat er iets mis is.
    Dat helpt je immers om het probleem serieus te nemen en actie te ondernemen. 
    Door emoties werken je hoofd en lichaam dus samen om te zorgen dat je 'de juiste dingen' doet.
</p>
<p>
    <blockquote>
        Sjors voelt zijn spieren al aanspannen voordat hij goed en wel beseft in welke situatie hij zich bevindt.
        Zijn hartslag gaat omhoog en de omgeving lijkt zich terug te trekken tot slechts hij en de beer overblijven.
        De tijd lijkt langzamer te gaan, geen detail en beweging ontgaan hem nog.
        Zijn lichaam is helemaal klaar om te vluchten of om zichzelf te verdedigen.
    </blockquote>
</p>
<p>
    Emoties zijn een bijzonder zinvol hulpmiddel van je hersenen om je leven de juiste richting op te sturen.
    Natuurlijk is alles daarbij afhankelijk van wat je hersenen zien als 'de juiste richting' en hoe ze je omgeving en risico's inschatten.
    Dat gaat niet altijd goed: je kunt bepaalde patronen in je hersenen hebben die niet kloppen of overdreven zijn.
    Het kan bijvoorbeeld dat je iets ernstigs hebt meegemaakt.
    En dat je hersenen nu proberen te voorkomen dat je nog een keer zoiets meemaakt.
    Dat doen je hersenen dan door heel heftig te reageren op alles wat aan die situatie doet denken.
</p>
<p>
    <blockquote>
        Opeens beseft Sjors dat de schaduw een gekke vorm heeft. Dit is geen beer maar de schaduw van takken.
        Bovendien is hij in Nederland. In zijn woonkamer op weg naar de keuken. Hier zijn geen beren.
        Waarom blijft hij elke keer zo enorm schrikkerig? 
        Het is nu al meer dan 3 jaar geleden dat hij op vakantie aangevallen werd.
    </blockquote>
</p>
<p>
    Verstandelijk weet je waarschijnlijk wel dat een beer in je huis zeer onwaarschijnlijk is.
    Maar toch zit er een patroon in je hersenen dat er voor zorgt dat je enorm reageert bij alles wat op een beer lijkt.
    Onterechte negatieve emoties zoals bij de beer zijn niet leuk en helpen je vaak niet.
    De manier om onterechte negatieve emoties aan te pakken is door de oorzaak ervan te begrijpen.
    Emoties komen namelijk niet zomaar willekeurig, maar je hersenen genereren ze omdat ze denken dat je er mee geholpen bent.
    De emotie zelf wegduwen werkt niet maar de laag onder je emoties aanpakken werkt <em>wel</em>.
</p>
<p> 
    {% include biglink.html label="Leer meer over waar jouw emoties vandaan komen" link="/blog/waar-komen-emoties-vandaan" %}
</p>
<p>
    Als je dat begrijpt <a href='/blog/wat-te-doen-met-emoties'>kunt je vervolgens bepalen wat je met je emoties moet doen</a> en hoe je van onterechte negatieve emoties af kunt komen.
</p>