---
layout: blog
title:  Het definitieve stappenplan om gelukkiger te worden
author: Willem Mulder
date:   2019-11-22 12:26:00 +0200
categories: basis
permalink: blog/het-definitieve-stappenplan-om-gelukkiger-te-worden
---

<p>
    In dit artikel delen we ons definitieve stappenplan die je kunt volgen om gelukkig te worden!
    Deze stappen gaan nog wat verder dan het vorige artikel over <a href='/blog/wat-te-doen-met-emoties'>wat je met emoties moet doen</a>.
    In dat artikel lag de nadruk met name op het luisteren naar emoties en achterhalen welke emoties (en onderliggende gedachtenpatronen) terecht zijn.
    Hieronder wil ik 6 stappen noemen die je kunt ondernemen om gelukkiger te worden.
    <!--more-->
    In de toekomst zullen er per stap meer uitgebreide details verschijnen, en zullen we voorbeeldsituaties en checklists geven die helpen om dit stappenplan concreet te maken.
</p>
<p>
    Ook dit stappenplan begint weer met onze emoties.
    Dat is niet zonder reden.
    Onze negatieve emoties zijn immers de reden dat we ons niet altijd gelukkig voelen.
    Nu zijn emoties (ook de negatieve) <a href='/blog/wat-zijn-emoties'>altijd goedbedoeld</a> en vaak heel nuttig.
    Maar van de onterechte negatieve emoties willen we graag af.
    Ze helpen ons niet, en zorgen voor een onterecht ongelukkig gevoel.
</p>

<h2>1. Duw emoties niet weg</h2>
<p>
    De eerste stap in het plan is om emoties niet weg te duwen.
    Alleen dan kun je de emoties goed onderzoeken en de dieperliggende oorzaak oplossen.
    Als je negatieve emoties immers bij voorbaat al vervelend vindt en altijd wegduwt, dan <a href='/blog/hoe-kun-je-gelukkiger-worden'>geef je jezelf niet de kans om diep geluk te vinden</a>.
    Duw emoties dus niet weg maar bekijk ze met interesse en probeer te begrijpen waarom je hersenen die emoties genereren.
    Kies voor keuze 2.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan.png" %}
</p>

<h2>2. Onderzoek of de emoties terecht zijn</h2>
<p>
    De tweede stap is om te onderzoeken of de emoties terecht zijn.
    Zoals gezegd is daar meer over geschreven in het artikel over <a href='/blog/wat-te-doen-met-emoties'>wat je met emoties moet doen</a>.
    Pas als je weet of emoties terecht zijn, kun je de juiste actie nemen.
    Overigens: emoties zijn niet altijd alleen maar volledig terecht of volledig onterecht.
    Vaak bevatten emoties terechte elementen, maar zijn bijvoorbeeld overdreven intens of komen vaker terug dan zinvol is.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan_terecht_onterecht.png" %}
</p>

<h2>3. Pak onterechte emoties aan</h2>
<p>
    Bij onterechte emoties moet je op zoek naar de veroorzakende gedachtenpatronen, zodat we die kunnen aanpakken.
    Zoals <a href='/blog/wat-te-doen-met-emoties'>al eerder genoemd toen we beschreven welke gedachtenpatronen terecht of juist onterecht zijn</a>, zijn er daarbij drie mogelijkheden, die we per stuk willen beschrijven.
</p>
<h3>3.1 Aanpakken van vervelende herinneringen en trauma</h3>
<p>
    Soms kunnen ze opeens opduiken: vervelende gedachten over dingen die in het verleden gebeurd zijn.
    Die gedachten kunnen in sommige gevallen helpend zijn om te voorkomen dat de vervelende situatie uit het verleden nog een keer gebeurt.
    Maar die gedachten kunnen onterecht zijn, variërend van 'een heel klein beetje overdreven' tot 'volledig uit proporties'.
    In de ergere varianten treden ook vaak sterke lichamelijke reacties op.
    We noemen de ergere variant van onvrijwillige negatieve herinneringen ook wel een trauma.
    Uiteraard zijn er ook allerlei tussenvarianten en zal niet iedereen zijn ervaring direct een 'trauma' willen noemen.
    Desalniettemin is het fijn om (kleine of grote) trauma's te herkennen zodat je er iets tegen kunt doen.
    Gelukkig zijn er allerhande behandelingen beschikbaar.
    Een bekende is EMDR, wat staat voor 'Eye Movement Desensitization and Reprocessing' en werkt door gelijktijdig herinneringen op te roepen uit het verleden én bezig te zijn met je zintuigen, bijvoorbeeld door met je ogen de vinger van de therapeut te volgen.
    Deze behandeing is in de basis zo eenvoudig dat vroeger niet werd geloofd dat het werkte.
    Maar inmiddels is bewezen dat de behandeling over het algemeen erg goed werkt en wordt de behandeling door veel erkende therapeuten en ziekenhuizen aangeboden.
    Zie voor meer informatie bijvoorbeeld <a href='https://www.emdr.nl/'>emdr.nl</a>.
</p>
<h3>3.2 Aanpakken van onjuiste mentale modellen</h3>
<p>
    De eerste stap om iets met mentale modellen te kunnen is door ze te herkennen en te benoemen.
    Schrijf bijvoorbeeld eens op hoe jij denkt over de wereld en over jezelf.
    En bespreek zaken met anderen, wellicht ook juist mensen die helemaal anders in het leven staan dan jij.
    Wat betreft je wereldbeeld: stop met het lezen van nieuwsbronnen die alleen maar sensationeel nieuws en schokkende feiten brengen.
    Dat is niet hoe de wereld werkt.
    Beter haal je nieuws uit een gedegen kwaliteitskrant of ga je überhaupt minder nieuws volgen.
    Lees voor achtergrond boeken zoals <a href='https://www.bol.com/nl/f/feitenkennis/9200000085089697/'>'Feitenkennis'</a> of bijvoorbeeld artikelen van platformen zoals <a href='https://decorrespondent.nl'>'De Correspondent'</a>.
    In het algemeen: praat met mensen, lees, luister, doe nieuwe inzichten op en ga niet op voorhand uit van je eigen gelijk.
    Mocht je het nuttig vinden om jouw ideëen en mentale modellen eens door te lichten, dan <a href='/contact'>kun je altijd contact met me opnemen</a>.
</p>
<p>
    Vaak herken je niet-kloppende mentale modellen pas achteraf.
    Op het moment zelf denk je dat jij helemaal gelijk hebt en dat het ook totaal niet nodig is om een andere mening te horen.
    Blijf dus altijd op zoek naar de waarheid, blijf vragen stellen, en wees bereid om je wereldbeeld bij te stellen als dat nodig is.
    Dat zorgt ervoor dat je oude niet-kloppende wereldbeelden bij kunt stellen én dat je in de toekomst minder kans loopt om een verwrongen mentaal model op te bouwen.
</p>
<h3>3.3 Aanpakken van niet-helpende behoeften</h3>
<p>
    Als het gaat om onze behoeften dan is het eigenlijk simpel: probeer met je behoeften zo dicht mogelijk te blijven bij universele menselijke behoeften zoals liefde, goedheid, zingeving, gezondheid en intimiteit.
    Wees alert op behoeften die ons niet verder helpen: behoefte aan status, beter willen zijn dan anderen, korte termijn pleziertjes en verslavingen.
    Vaak zijn die 'nepbehoeften' zoals de drang naar status of verslavingen, allemaal heel goed te verklaren, maar dat betekent niet dat ze ons leven uiteindelijk verder helpen.
    Ook hier helpt het om simpelweg eens op te schrijven waar jouw behoeften liggen.
    Soms kom je daar snel genoeg achter als je opschrijft waar je je tijd in dit leven aan besteed.
    We doen immers alles met een reden.
    Op die manier kun je terug redeneren van je tijdsbesteding ('heel veel winkelen') naar behoeften zoals 'sociaal contact', 'waardering' of misschien 'een ziekelijke verslaving'.
    En vervolgens kun je je behoeften stap voor stap proberen te veranderen.
</p>

<h2>4. Onderneem actie bij terechte emoties</h2>
<p>
    Je kunt er vanuit gaan dat een emotie terecht is als die gaat over een zinvolle behoefte, gebaseerd op correcte mentale modellen en niet gehinderd door een vorm van trauma.
    Bij terechte emoties wil je luisteren en doen wat de emoties je vertellen te doen.
    Meestal gaat het er dan om dat je zorg gaat dragen voor bepaalde (zinvolle, terechte) behoeften die je hebt.
    Je hebt bijvoorbeeld de terechte behoefte om gezond te zijn, en luistert dus naar je lichaam en hoofd als die aangeven dat er iets niet goed gaat.
    Dus in plaats van dat je stress wegzet als 'irritant', luister je naar je emoties, besef je dat je teveel van jezelf vraagt, en ga je de situatie aanpakken die de stress veroorzaakt.
    Het kan natuurlijk gebeuren dat je geen actie kunt ondernemen omdat je geen invloed hebt op de situatie.
    Kijk dan of je je invloed kunt vergroten zodat je nu of later wél actie kunt ondernemen. 
    Als dat (nog) niet lukt, dan kun je het beste proberen voorlopig in de situatie te berusten.
</p>

<h2>5. Geef je aandacht aan de juiste dingen</h2>
<p>
    Onze hersenen staan bijna nooit stil.
    Zelfs op de rustige momenten zijn er wel dingen waar we over piekeren, naar uitzien of over nadenken.
    Want ondanks dat we het tot nu toe voornamelijk hebben gehad over gedachten rondom <em>een situatie die we waarnemen</em>, hebben we wellicht net zo vaak gedachten over allerlei andere dingen.
    Bijvoorbeeld iets dat in het verleden gebeurd is en waar we vervelende herinneringen aan hebben.
    Of we malen over iets in de toekomst wat nog moet gebeuren of waar we tegenop zien.
    Dat gebeurt in het bijzonder als je hersenen vinden dat er nog 'open eindjes' zijn waar je over na moet denken, en waar een oplossing voor nodig is.
    Die komen dan steeds in je gedachten terug.
    Open eindjes kunnen onder andere ontstaan als je je negatieve emoties niet serieus neemt of ze wegduwt.
    Zoals we al eerder zagen <a href='/blog/hoe-kun-je-gelukkiger-worden'>is het wegduwen van negatieve emoties niet de beste manier om gelukkiger te worden</a>, onder andere dus omdat ze als open eindjes toch wel weer terugkomen.
</p>
<p>
    {% include image.html src="model_3.png" %}
</p>
<p>
    Soms zijn er ook positieve open eindjes (je ziet bijvoorbeeld uit naar een ontmoeting met je geliefde) en dan is het natuurlijk juist fijn om daar over na te denken.
    Maar voor negatieve emoties kan het best zijn dat we er in ons hoofd eigenlijk veel te veel aandacht aan besteden.
    Onze hersenen proberen ons te helpen door de situatie steeds in onze gedachten te laten komen.
    Dat is lief van je hersenen, maar niet altijd zinvol.
    Als de situatie bijvoorbeeld toch niet is op te lossen, het doel onbereikbaar is of als de situatie helemaal niet belangrijk genoeg is om continu over te piekeren.
    Probeer je gedachten dus alleen te vullen als dat ook zin heeft.
    In de andere gevallen: maak je hoofd leeg en voed al die piekergedachten niet.
    Het is bijvoorbeeld heerlijk om te sporten, fysiek bezig te zijn of in de natuur te lopen.
    Daar word je hoofd letterlijk leeg van.
    Een andere methode kan bijvoorbeeld mindfulness zijn; waarbij je zonder te oordelen focust op de dingen in het hier en nu.
    Ook kan het zinvol zijn om een 'piekeruurtje' in te ruimen (bijvoorbeeld "elke woensdag tussen 8 en 9") waarin je over je zorgen nadenkt.
    Het feit dat je er een specifieke tijd voor vrijruimt betekent dat je de problemen wél serieus neemt, maar omdat je de tijd beperkt tot 1 uur zorg je dat het niet meer je hele leven beheerst.
</p>
<h2>6. Houd je brein gezond</h2>
<p>
    We hebben het tot nu toe vooral gehad over wat er allemaal in onze hersenen omgaat: emoties, gedachten, herinneringen, kennis enzovoorts.
    Maar het is goed om te beseffen dat alles wat er in onze hersenen gebeurt uiteindelijk ook wordt beïnvloedt door hoe <em>gezond</em> die hersenen zijn.
    Iedereen kent de voorbeelden wel.
    Als ons lichaam moe is, dan kunnen we niet meer helder nadenken.
    Als we te veel alcohol drinken, lopen we hersenbeschadiging op.
    Als we hoofdpijn hebben, kunnen we minder hebben, enzovoorts.
    De tips voor een gezond brein zijn relatief eenvoudig.
    Ten eerste is het belangrijk om voldoende te slapen. 
    Dat varieert per persoon, maar tussen de 7 en 8 uur slaap per dag is een goede richtlijn.
    Ten tweede is het belangrijk om in het algemeen een gezond lichaam te hebben.
    Eet dus gezond en beweeg minstens een half uur per dag.
    Dan zijn er ook nog specifieke voedingsstoffen die nodig zijn als bouwstof voor de positieve stofjes in onze hersenen.
    Bijvoorbeeld hele donkere chocolade (>80% puur), bessen (voor de zogenaamde 'flavanoïden'), amandelen, vette vis en spinazie.
    Als laatste is het bijzonder goed om te knuffelen, met dieren of mensen.
    En probeer te lachen en te ontspannen!
</p>
<h2>
    Samen
</h2>
<p>
    Bij alles geldt: je hoeft dit niet alleen te doen!
    Praat er met anderen over en vraag hen je te helpen.
    Daar hebben ze zelf ook iets aan: hoe meer geluk en vrede jij ervaart, hoe meer je zelf ook weg kunt geven.
</p>
<h2>
    Dus nu vol aan de slag?
</h2>
<p>
    Het is belangrijk om te beseffen dat verandering niet eenvoudig is.
    Misschien wil je wel allerlei dingen anders: een andere situatie, anders denken, anders reageren, je anders voelen.
    Vaak wil je veranderen omdat je op dit moment niet in een prettige situatie zit, en daar graag vanaf wil.
    Maar al dat nadenken over jezelf en je huidige situatie kan al snel vervallen in malen en negativiteit.
    Waarbij de nadruk komt te liggen op hoe 'slecht' je er op dit moment aan toe bent en je de 'weg vooruit' eigenlijk niet duidelijk ziet.
    En zelfs al heb je een plan, dan kost dat uitvoeren van dat plan vaak veel energie.
    Energie die je misschien nu al niet hebt.
</p>
<p>
    Misschien vind je het daarom vooral frustrerend om na te denken over 'verbetering'.
    Wellicht vind je het makkelijker om je gewoon neer te leggen bij de huidige situatie en er simpelweg het beste van te maken.
    Proberen tevreden te zijn met je huidige leven en al die 'verbetering' gewoon laten voor wat het is.
    Dan zeg ik: ja, je kunt inderdaad het beste maar tevreden zijn met je leven.
    Maar <em>tegelijkertijd</em> kun je op een ontspannen manier zoeken naar verbetering.
    Dat klinkt tegenstrijdig, maar ik heb ervaren dat het kan.
    Wie het beheerst om zijn leven langzaam maar zeker in de juiste richting te sturen en tegelijkertijd tevreden is met het nu, heeft goud in handen.
    In het laatste artikel uit deze serie wil ik je graag uitleggen hoe je dat aan kunt pakken!
</p>
<p>
    {% include biglink.html label="Hoe je kunt streven naar beter en tegelijkertijd tevreden kunt zijn" link="/blog/streven-versus-tevredenheid" %}
</p>

<!--
<p>
    {% include image.html src="model_3_oplossingsrichtingen.png" %}
</p>
-->
<!--
<h2>
    Conclusie
</h2>
<p>
    We zagen dat negatieve emoties komen door directe associaties en door het waarderen van je situatie op basis van je behoeften en mentale modellen.
    Niet alle negatieve emoties zijn daarbij onterecht.
    De terechte negatieve emoties zijn nuttig en helpen je om je leven in de juiste richting te sturen.
    Ze zorgen er immers voor dat je de juiste acties onderneemt om fijne dingen nog een keer tegen te komen en onfijne dingen tegen te gaan.
    Maar ondanks dat je ook aan terechte negatieve emoties te veel tijd of energie kunt besteden, zijn het meestal de <em>onterechte</em> negatieve emoties die veel van onze aandacht vragen.
    Daarbij is het idee dat je een plan maakt om te zoeken naar de onterechte gedachtenpatronen onder die emoties.
    Die onterechte gedachtenpatronen kun je dan vervolgens aanpakken.
    Trauma's kun je aanpakken door middel van bijvoorbeeld EMDR.
    En ook je mentale modellen en je behoeften kun je proberen te wijzigen.
    Op die manier zorg je op een gezonde manier dat je minder onterechte negatieve emoties hebt.
    En dus vergroot je daarmee de kans dat je het geluk iets vaker tegenkomt.
    Tot slot helpt het om negatieve gedachten de juiste plek in je leven te geven en ze niet toe te laten om overal en altijd in je hoofd aanwezig te zijn.
</p>
-->