---
layout: blog
title:  Waar komen emoties vandaan
author: Willem Mulder
date:   2019-10-04 12:26:00 +0200
categories: basis
permalink: blog/waar-komen-emoties-vandaan
---
<p>
    Om meer controle over geluk en ongeluk te krijgen, helpt het om te begrijpen waar geluk en ongeluk vandaan komen.
    Geluk definieerden we als <a href='/blog/wat-is-geluk'>ongestoorde positieve emotie</a>. 
    Maar geluk, oftewel dus ongestoorde positieve emotie, is niet vanzelfsprekend.
    We leven in een wereld waar we te maken hebben met stress, gevaar en verdriet.
    De kern van gelukkig zijn is <a href='/blog/hoe-kun-je-gelukkiger-worden'>hoe je met die negatieve emoties omgaat</a>.
    <a href='/blog/wat-zijn-emoties'>Emoties in het algemeen zijn een manier van je hersenen om je leven in de juiste richting te sturen</a>.
    Een belangrijke opmerking daarbij is dat je hersenen het niet altijd bij het juiste eind hebben.
    Daardoor zijn negatieve emoties niet altijd terecht en zinvol, maar soms ook onterecht of overdreven.
    De terechte, nuttige negatieve emoties wil je graag behouden (ook al zijn ze natuurlijk op het moment zelf niet leuk).
    Maar de onterechte, overdreven en zinloze negatieve emoties wil je aanpakken (ook al zijn ze goedbedoeld).
    De kunst is dus om negatieve emotie te herkennen en in te kunnen schatten of de emotie <em>wel</em> terecht is of juist <em>niet</em> terecht is.
    Maar om emoties beter in te kunnen schatten, moeten we eerst begrijpen waar emoties vandaan komen.
</p>
<!--more-->
<p>
    Zoals we zagen is emotie <a href='/blog/wat-zijn-emoties'>een reactie van je hersenen op wat je ziet, hoort, voelt of denkt</a>. 
    Je gedachten en emoties helpen je om de juiste actie te nemen.
    Om zo te zorgen dat je positieve dingen <em>wel</em> bereikt en negatieve dingen juist <em>niet</em> bereikt.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten naar emotie naar geluk" src="model_2_1.png" %}
</p>
<p>
    Wat er in de hersenen gebeurt is complex en lang niet altijd bewust.
    Onze hersenen zijn een groot netwerk van meer dan honderd miljard hersencellen en verbindingen die informatie opslaan en prikkels verwerken.
    Herinneringen, kennis, denkvermogen, of je positief of juist negatief naar dingen kijkt, en nog veel meer zit allemaal opgeslagen in die cellen en verbindingen.
    Binnenkomende prikkels verwerken we en resulteren in bewuste of onbewuste interpretaties en gedachten.
    Tegelijkertijd onstaat er emotie om die interpretaties en gedachten te kleuren.
</p>
<p>
    Als ik het over 'gedachten' heb dan bedoel ik dus alles wat er in de hersenen gebeurt: alle signalen die door het hersennetwerk vliegen, alle interpretaties die je maakt, alle conclusies die worden getrokken.
</p>
<p>
    Uiteraard heeft niet iedereen dezelfde gedachten en reageert niet iedereen hetzelfde op dingen.
    Dat komt omdat die honderd miljard hersencellen bij iedereen op een andere manier gestructureerd zijn.
    De verbindingen in jouw hersenen anders zijn anders dan die van je vrienden en ook anders dan die van je ouders of zelfs tweelingbroer of -zus.
    Gedachten lopen daarom bij iedereen anders.
    Bij de ene persoon leidt het zien van een vliegtuig tot enthousiasme en mooie herinneringen, terwijl datzelfde vliegtuig bij een ander juist leidt tot angst en een knoop in de maag.
    De hersenstructuur die bepaalt hoe gedachten worden gevormd, noem ik 'gedachtenpatronen'.
    Die gedachtenpatronen bepalen op welke manier signalen in jouw hersenen verwerkt worden.
    Ze bepalen dus welke gedachten je krijgt bij welke prikkels.
    En als gedachtenpatronen heel erg ingesleten raken, dan zul je bij bepaalde situaties altijd dezelfde gedachten krijgen en altijd op dezelfde manier reageren.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen) naar emotie naar geluk" src="model_2_2.png" %}
</p>
<p>
    Je gedachtenpatronen zijn bij de geboorte al op een bepaalde manier gevormd, en worden daarna in de rest van je leven continu aangepast op basis van je ervaringen: dat wat je hoort, ziet, voelt, proeft, luistert, kijkt en leest.
    Om in je hoofd gedachtenpatronen te vormen over iets, is directe ervaring dus niet per sé nodig: je kunt er ook iets over lezen of over horen van anderen.
    Je hebt bijvoorbeeld een beeld bij een éénhoorn, en misschien zelfs wel een gevoel van vrolijkheid, terwijl je nog nooit daadwerkelijk een éénhoorn gezien hebt.
    Of je kunt een hekel hebben aan iets of iemand alleen al omdat mensen om je heen er op een negatieve manier over praten.
    Gedachtenpatronen kunnen zich dus vormen op basis van allerlei bronnen.
    Daarin zijn opvoeding, vrienden en school heel belangrijk.
    Maar ook andere informatie zoals boeken, artikelen, nieuws en films.
</p>
<p>
    Je gedachtenpatronen zijn dus een groot netwerk van associaties.
    Als het gaat om de relatie tussen gedachtenpatronen en emotie, kun je je gedachtenpatronen onderverdelen in twee types.
</p>
<p>
    De eerste soort van patronen is heel direct en gebaseerd op opgeslagen emotie uit het verleden.
    Als je een prikkel binnenkrijgt, zijn er heel directe associaties die bij wijze van spreken geen 'denkwerk' kosten.
    Je ziet weer iets en voelt er direct iets bij, omdat je in het verleden iets hebt meegemaakt waar je nu weer aan moet denken.
    Als een situatie door je hersenen wordt verwerkt, vormen zich dus heel direct gedachten en emotie, op basis van herinneringen.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties) naar emotie naar geluk" src="model_2_3.png" %}
</p>
<p>
    De tweede soort is indirecter en heeft te maken met het analyseren van een situatie aan de hand van je behoeften.
    Daarbij gebruiken we complex denkwerk om situaties te interpreteren en voorspellingen te doen.
    We beoordelen de huidige en toekomstige voorspelde situaties vervolgens aan de hand van onze behoeftes.
    Een situatie is <em>fijn</em> als die situatie onze behoeften <em>wel</em> vervult.
    En een situatie is juist <em>niet fijn</em> als die onze behoeften <em>niet</em> vervult of zelfs tegenwerkt.
    Het interpreteren, voorspellen en beoordelen doen we op basis van wat ik 'mentale modellen' noem: bepaalde ideeën over hoe dingen eruitzien, hoe ze werken, wat belangrijk is, enzovoorts.
    Als je bijvoorbeeld gelooft dat vliegtuigen vaak neerstorten (mentaal model) en je wilt graag levend en gezond zijn (behoefte), dan is de wetenschap dat je overmorgen met het vliegtuig moet helemaal niet prettig (waarderen).
    Dat zorgt weer voor een onrustige of angstige emotie die er voor moet zorgen dat je afziet van je vliegreis.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties en waarderen) naar emotie naar geluk" src="model_2_4.png" %}
</p>
<p>
    Hier is nog veel meer over te zeggen, maar voor nu is het belangrijk om te beseffen dat al deze vlakken (herinneringen, mentale modellen en behoeften) meespelen in het genereren van positieve of negatieve emotie.
    En dat het op al die vlakken mogelijk is dat er een situatie ontstaat waarin je ten onrechte negatieve (of positieve) emoties maakt.
    Het kan bijvoorbeeld zijn dat je een traumatische gebeurtenis hebt meegemaakt (herinnering) wat er nu voor zorgt dat je heel heftig reageert op alles wat je aan die gebeurtenis herinnert.
    Of dat je het idee hebt dat alle mensen ongevoelig en egoïstisch zijn (mentaal model) waardoor je bang bent om jezelf te geven in vriendschappen en relaties.
    Of je wilt heel graag de controle over alles hebben (behoefte) waardoor je niet snel iets nieuws of geks durft te doen.
</p>
<p>
    Om onterechte negatieve emoties weg te nemen, is het dus belangrijk om bij jezelf te zoeken waar de emotie vandaan komt en of er een herinnering, mentaal model of behoefte een rol speelt die onterecht of zinloos is.
    Het volgende artikel gaat dieper in op wat je concreet kunt doen als je negatieve emoties ervaart.
</p>
<p>
    {% include biglink.html label="Wat te doen met emoties" link="/blog/wat-te-doen-met-emoties" %}
</p>