---
layout: blog
title:  Wat te doen met emoties
author: Willem Mulder
date:   2019-10-10 12:26:00 +0200
categories: basis
permalink: blog/wat-te-doen-met-emoties
---

<!--
    Naam veranderen?
-->

<p>
    In dit artikel gaan we in op hoe je het beste met emoties om kunt gaan.
    Emoties zijn echter enorm complex en iedereen zit anders in elkaar.
    Het is dus lastig om een kant-en-klaar advies te geven wat voor iedereen werkt.
    Maar hopelijk kun je sommige onderdelen toepassen op jezelf of op anderen.
    Daarbij besef ik dat het bijna nooit eenvoudig is om daadwerkelijk verandering in gang te zetten.
    Veranderen is moeilijk en verandering kost energie.
    Energie die je misschien nu niet hebt.
    Je kunt altijd <a href='/contact'>contact met me opnemen</a> als je extra tips of ondersteuning wilt.
    Al met al hoop ik dat we sommige problemen op kunnen lossen, onnodige negatieve emoties kunnen vermijden, en meer kunnen genieten van de mooie dingen die er zijn.
</p>
<!--more-->
<p>
    Wat we gezien hebben is dat <a href='/blog/wat-zijn-emoties'>emoties er zijn om je leven in 'de juiste richting' te sturen</a>.
    Als je hersenen denken dat een situatie goed voor je is krijg je positieve emoties.
    En als je hersenen denken dat een situatie <em>niet</em> goed voor je is krijg je negatieve emoties.
    Het idee van je gedachten en emoties is dat ze je helpen om de juiste actie te nemen.
    Om zo te zorgen dat je positieve dingen <em>wel</em> bereikt en negatieve dingen juist <em>niet</em> bereikt, of beter nog: dat je negatieve dingen voorkomt.
</p>
<p>
    Uiteraard <a href='/blog/perfect-geluk'>doe je je emoties tekort als je alleen maar positieve emotie wilt voelen</a>.
    Negatieve emoties zijn immers bijzonder waardevol in situaties dat er werkelijk gevaar dreigt.
    Maar toch zijn er allerlei redenen die er voor kunnen zorgen <a href='/blog/waar-komen-emoties-vandaan'>dat je onterechte negatieve emoties hebt</a>.
    Om daar goed mee om te gaan <a href='/blog/hoe-kun-je-gelukkiger-worden'>moet je negatieve emoties niet wegduwen of verbloemen maar de oorzaak van de emotie achterhalen en daar actie op ondernemen</a>.
    Alleen op die manier kun je de negatieve emotie duurzaam wegnemen.
    In het schema is dat keuze 2.
</p>
<p>
    {% include image.html alt="manieren om met negatieve gedachten om te gaan" src="model_manieren_om_met_negatieve_gedachten_om_te_gaan.png" %}
</p>
<p>
    Om te weten wat we concreet moeten doen om de negatieve emoties duurzaam op te lossen, moeten we eerst bepalen of een negatieve emotie terecht of onterecht is.
    Als de emotie immers terecht is, dan moeten we luisteren naar wat de emotie ons duidelijk maakt, en actie ondernemen.
    Maar als de emotie onterecht is, dan wil je zorgen dat die emotie verdwijnt of minder wordt.
    Onterechte negatieve emoties helpen je immers niet, en geven alleen maar onnodige onrust en negativiteit.
</p>
<p>
    Om goed met onze emoties om te gaan, moeten we dus als eerste moeten we bepalen welke emoties terecht en welke onterecht zijn.
    En ten tweede willen we dan de juiste actie ondernemen. 
    Bij terechte emotie willen we naar onze emotie luisteren en onze situatie aanpassen. 
    En bij onterechte emoties willen we in onze gedachten iets aanpassen zodat we die onnodige negatieve emoties niet meer krijgen.
    In het onderstaande schema zijn dat de twee opties na keuze 2.
</p>
<p>
    {% include image.html alt="manieren om met terechte of onterechte negatieve gedachten om te gaan" src="model_manieren_om_met_negatieve_gedachten_om_te_gaan_terecht_onterecht.png" %}
</p>
<p>
    Overigens geldt dit schema niet alleen bij het opvolgen van <em>negatieve</em> emoties.
    Ook <em>positieve</em> emoties kunnen soms onterecht zijn.
    Bijvoorbeeld als je positieve emoties zoekt om er voor zorgen dat je negatieve emoties wegduwt (bijvoorbeeld hard werken of plat plezier).
    Of als ze je na het geluksmoment juist extra onrustig maken (denk bijvoorbeeld aan verslavingen).
    In die gevallen wil je dus ook je <em>positieve</em> emoties aanpakken en terugbrengen tot zinvolle proporties.
    Maar laten we bij het begin beginnen.
</p>
<h2>
    Gedachtenpatronen
</h2>
<p>
    Zoals we gezien hebben zijn emoties in zichzelf altijd goedbedoeld van je hersenen.
    Emoties zijn een logisch gevolg van je gedachtenpatronen, op basis van herinneringen, mentale modellen en behoeften.
    Als we dus willen kijken of een emotie terecht is, dan moeten we kijken of de <em>gedachtenpatronen</em> terecht zijn.
</p>
<p>
    Laten we de onderdelen van gedachtenpatronen één voor één bekijken. 
    Eerder zagen we al dat <a href='/blog/waar-komen-emoties-vandaan'>gedachtenpatronen onder te verdelen zijn in twee types</a>.
    Ten eerste de 'directe associatie' op basis van herinneringen.
    En ten tweede de 'beredeneerde waardering' van wat je ziet, hoort, voelt en denkt op basis van je behoeften en mentale modellen.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties en waarderen) naar emotie naar geluk" src="model_2_4.png" %}
</p>
<h3>
    Directe associatie
</h3>
<p>
    Laten we beginnen met het eerste type gedachtenpatronen.
    Dat is de 'directe associatie' op basis van herinneringen.
    Met deze directe associatie bedoel ik dat bepaalde specifieke herinneringen of gedachten een heel directe emotionele reactie kunnen opleveren.
    Zo'n associatie is goedbedoeld, want die negatieve emoties zijn immers bedoeld om te voorkomen dat de negatieve gebeurtenis nog eens optreedt.
    Maar als de gedachten of emoties onterecht of overdreven zijn, streven ze hun doel voorbij.
</p>
<p>
    Hoe weet je nu of een associatie onterecht of overdreven is?
    Dat gebeurt als de associaties zorgen voor emoties en gevoelens die je verstandelijk eigenlijk niet meer kunt verklaren.
    De mate waarin associaties onterecht zijn, kan variëren van 'een heel klein beetje overdreven' tot 'volledig uit proporties'.
    In de ergere varianten treden ook vaak sterke lichamelijke reacties op.
    Soms leidt ook de wens om de (emotionele en fysieke) pijn niet te voelen tot gebruik van verdovende middelen of het zichzelf afsluiten van alle emotionele beleving.
    De heftige variant van onterechte directe associatie met iets uit het verleden wordt ook wel een trauma genoemd.
    De kenmerken van een trauma zijn volgens het DSM5 handboek (gebruikt door psychiasters voor diagnostiek van psychische stoornissen):
    <ul>
        <li>de blootstelling aan een heftige gebeurtenis in het verleden, meestal rondom dood, verwonding of seksueel misbruik</li>
        <li>de ontwikkeling sindsdien van zaken zoals (onvrijwillige) pijnlijke herinneringen, dromen, dissociaties en lichamelijke reacties</li>
        <li>het vermijden van zaken die iets te maken hebben met (of reacties oproepen over) de traumatische gebeurtenis</li>
        <li>de ontwikkeling sinds de traumatische gebeurtenis van negatieve stemmingen en gedachten </li>
        <li>de ontwikkeling sinds de traumatische gebeurtenis van fysieke klachten zoals stress, prikkelbaar gedrag, hyperventilatie of schrikreaties</li>
    </ul>
    Betekent dat dan dat je bij één van bovenstaande kenmerken direct last hebt van een trauma?
    Nee, misschien niet.
    Maar of je het nu trauma noemt of geen trauma noemt, dat maakt voor de situatie niet uit.
    Immers: als er herinneringen uit het verleden zijn met een directe emotionele associatie die niet helpend is, dan is dat hoe dan ook vervelend, los van hoe je het noemt en welke gradatie het heeft.
    Het goede nieuws: er is vaak wel iets tegen te doen!
    Denk bijvoorbeeld aan behandelingen zoals EMDR.
</p>
<!-- link? -->
<h3>
    Waarderen van je huidige situatie
</h3>
<p>
    Het tweede type gedachtenpatronen ging over het waarderen van een situatie aan de hand van onze behoeften.
    Op elk moment van de dag zijn we bewust of onbewust bezig met het waarderen van wat er om ons heen gebeurt.
    We doen dat <a href='/blog/wat-zijn-emoties'>zodat we actie kunnen ondernemen om ons leven de juiste richting op te sturen en weg te houden van gevaren</a>.
    Daarbij bekijken we niet alleen wat er op een bepaald moment gebeurt, maar maken we ook voorspellingen over de toekomst.
    Als we bijvoorbeeld een rijdende auto zien, dan schatten we in of die auto ons netjes passert (dat is oké) of dat ie ons zal raken (dat is <em>niet</em> oké).
    <!--
    Het feit dat we kunnen voorspellen of een auto ons gaat raken is behoorlijk indrukwekkend.
    Je moet ten eerste aan de vorm, kleur enzovoorts herkennen dat je met een auto te maken hebt.
    Daarna moet je beseffen dat de auto met en bepaalde snelheid in jouw richting rijdt.
    Vervolgens de snelheid en richting van de auto combineren met jouw situatie en de tijd die de bestuurder heeft om bij te sturen.
    Om vervolgens te concluderen dat er een aardige kans is dat de auto je gaat raken.
    In je hoofd bedenk je vervolgens een mogelijk actie, bijvoorbeeld een snelle stap naar achteren.
    En vervolgens bereken je opnieuw of de auto je dan nog steeds zal raken.
    Zo blijf je bliksemsnel denken todat je een actie hebt verzonnen die je uit gaat voeren.
    -->
</p>
<p>
    De hele cirkel van interpreteren, voorspellen, waarderen en een actie bedenken is iets wat we de hele dag door doen.
    Het waarderen van een situatie ('fijn' of juist 'niet fijn') gebeurt op basis van jouw behoeften.
    Als je hersenen zien dat een situatie er voor gaat zorgen dat jouw behoeften vervuld worden, dan is dat 'fijn'.
    Maar als je hersenen zien dat een situatie er juist <em>niet</em> voor gaat zorgen dat je behoeften vervuld worden, dan is dat 'niet fijn'.
    Uiteindelijk bepalen je behoeften dus (naast 'directe associaties', zie boven) hoe je op situaties reageert en hoe je je voelt.
</p>
<p>
    Schematisch is dat in de afbeelding hieronder weergegeven als drie onderdelen.
    Onderin zien we onze behoeften.
    Daarboven onze 'mentale modellen'.
    Daarmee bedoel ik al onze kennis en ideeën over hoe dingen werken.
    Bijvoorbeeld kennis over 'wat is een auto' en 'hoelang duurt het voordat een bewegend ding mij raakt'.
    Maar ook dingen als 'wie ben ik', 'hoe werkt de wereld', 'waarom reageert de buurman altijd zo kortaf' en 'spinnen zijn eng'.
    Door je mentale modellen ben je in staat om in te schatten wat er gebeurt en wat er gáát gebeuren.
    Dat is het bovenste onderdeel: het waarderen van de huidige of toekomstige situatie aan de hand van je behoeften.
</p>
<p>
    {% include image.html alt="situatie naar zintuigen (en actie terug) naar gedachten (en gedachtenpatronen met associaties en waarderen) naar emotie naar geluk" src="model_2_4.png" %}
</p>
<p>
    Maar hoe weet je nu of je mentale modellen en behoeften terecht zijn?
</p>
<p>
    Wat betreft onze mentale modellen is het lastig om concreet te maken welke modellen precies niet kloppen.
    Mentale modellen over 'de wereld' komen vaak door het type nieuws dat we volgen en welke informatie we tot ons nemen.
    Mentale modellen over onszelf komen daarentegen vaak door opvoeding of je sociale omgeving.
    Veel mentale modellen zijn ten minste voor een deel correct.
    Maar er zijn ook gedachten die ons vaak juist <em>niet</em> helpen. 
    Gedachten zoals 'alles wat ik doe moet nuttig zijn' of 'ik moet leuk zijn' of 'ik moet mijn energie en talenten op de meest efficiënte manier besteden'.
    De eerste stap om iets met mentale modellen te kunnen is door ze te herkennen en te benoemen.
    En vervolgens in het algemeen: doe aan zelfreflectie, praat met mensen, lees, luister, doe nieuwe inzichten op en ga niet op voorhand uit van je eigen gelijk.
    Dan zie je soms opeens vanzelf dat een gedachte niet terecht of niet zinvol is!
</p>
<!-- link -->
<p>
    Als het gaat om onze behoeften dan is het eigenlijk simpel: probeer met je behoeften zo dicht mogelijk te blijven bij universele menselijke behoeften zoals liefde, goedheid, zingeving, gezondheid en intimiteit.
    Wees alert op behoeften die ons niet verder helpen: behoefte aan status, beter willen zijn dan anderen, korte termijn pleziertjes en verslavingen.
    Probeer ook daar te doen aan zelfreflectie en praat met anderen over je behoeften en hoe je onterechte behoeften kunt tegengaan.
</p>
<!-- link -->
<!--
<h2>
    Minder malen
</h2>
<p>
    Zoals we zagen zijn herinneringen, mentale modellen en behoeften bepalend voor de gedachten en emoties die we hebben.
    We gebruiken ze om alles wat er om ons heen gebeurt te begrijpen en emotioneel te 'kleuren'.
    Als er dingen zijn waar we veel emotioneel gevoel bij hebben, dan komen die vaak later nog eens terug in onze gedachten.
    Voor positieve emoties is dat vaak fijn, maar voor negatieve emoties kan het best zijn dat we er in ons hoofd eigenlijk veel te veel aandacht aan besteden.
    Als de situatie bijvoorbeeld toch niet is op te lossen, of als de situatie helemaal niet belangrijk genoeg is om continu over te piekeren.
    Een laatste tip is dus om alleen over negatieve zaken te malen als dat ook zin heeft.
    Mocht je merken dat piekeren niks oplevert, laat het dan los, of plan een 'piekermoment' in en besteed je aandacht verder aan andere dingen.
</p>
-->
<h2>
    Het stappenplan
</h2>
<p>
    Zoals we al eerder zagen zijn emoties een goedbedoeld signaal van je hersenen om je op te roepen tot actie over te gaan.
    Maar tegelijkertijd zagen we dat emoties niet altijd zinvol of terecht zijn.
    Soms zijn die emoties namelijk gebaseerd op onterechte gedachtenpatronen die er voor zorgen dat je emoties krijgt die onterecht of zinloos zijn.
    Over het algemeen treden die onterechte gedachten op bij een (vorm van) trauma, of als je mentale modellen of behoeften niet juist zijn.
    In die gevallen wil je niet naar je emoties luisteren.
</p>
<p>
    Maar hoe ga je daar dan mee om? 
    Wat ga je doen als je denkt dat een bepaalde emotie niet helemaal terecht of helpend is?
    En ook: wat ga je doen als die emotie juist <em>wel</em> terecht is?
    En wat kun je nog meer concreet doen om gelukkiger te worden?
    In het volgende artikel delen we een stappenplan die je voor jezelf kunt volgen om het geluk wat vaker tegen te komen!
    Dit stappenplan is nu nog beknopt maar zal in de toekomst worden uitgebreid met handige checklists, concrete situaties en voorbeelden.
</p>
<p>
    {% include biglink.html label="Het definitieve stappenplan om gelukkiger te worden" link="/blog/het-definitieve-stappenplan-om-gelukkiger-te-worden" %}
</p>