---
layout: blog
title:  Wat is geluk
author: Willem Mulder
date:   2019-09-13 12:26:00 +0200
categories: basis
permalink: blog/wat-is-geluk
---

<p>
    De vraag 'Wat is geluk?' heeft mensen al lang bezig gehouden. Wellicht heb jij er ook wel een bepaald gevoel of een bepaalde omschrijving bij.
    Om het met elkaar te hebben over geluk, is het belangrijk dat we dezelfde omschrijving gebruiken.
</p>
<p>
    De onderzoekers Chu Kim-Prieto, Ed Diener en collega's hebben in 2005 een evaluatie gemaakt van hoe 'geluk' in de wetenschap wordt gedefinieerd.
    De meeste wetenschappers zijn het er over eens dat geluk meer is dan alleen 'plezier'.
    <!--more-->
    Geluk omvat ook andere positieve zaken zoals tevredenheid of een gevoel dat je zinvol bezig bent.
    Daarnaast is geluk natuurlijk subjectief: je bent gelukkig als je <em>vindt</em> dat je gelukkig bent.
    En dat kan voor iedereen anders zijn.
    Toch zie ik in de praktijk meer overeenkomsten dan verschillen.
    Als ik aan mensen vraag of ze een geluksmoment op kunnen schrijven, dan komen daar altijd dezelfde soort antwoorden uit.
    Geluksmomenten hebben altijd te maken met een positieve emotie.
    En geluksmomenten hebben iets te maken met 'opgaan in het moment'.
    Dat wil zeggen een positief gevoel dat niet onderbroken wordt door storende gedachtes of gevoelens.
</p>
<p>
    Ik definieer geluk daarom als 'ongestoorde positieve emotie'. Of schematisch weergegeven: ongestoorde positieve emotie leidt tot een geluksgevoel.
</p>
<p>
    {% include smallimage.html src="model_1.png" %}
</p>
<p>
    De meeste mensen ervaren dus geluk op het moment dat ze even helemaal op kunnen gaan in een moment zonder dat ze gestoord worden door iets negatiefs.
    Daarbij heb je zelf waarschijnlijk wel voorbeelden.
    Van ontspanning tot juist hele fysieke inspanning, overwinning, iets kopen, lekker eten, de natuur, gezelligheid, spiritualiteit en een relatie met God.
    Daarbij gaat het niet zozeer om de situatie <em>zelf</em> maar gaat het er om dat jij de situatie positief <em>ervaart</em> waardoor je er gelukkig van wordt.
</p>
<p>
    {% include mediumimage.html src="model_1_met_redenen.png" %}
</p>
<p>
    Bijna ieder mens streeft er naar om op één of andere manier gelukkig te zijn, nu of later.
</p>
<p>
    Toch is niet iedereen constant gelukkig. 
    Dat komt doordat we niet constant alleen maar positieve emoties hebben.
    Iedereen heeft verdriet, pijn, onrust, stress of andere negatieve emoties.
    Die zorgen er voor dat we minder positieve emotie ervaren en dat we zeker geen <em>ongestoorde</em> positieve emotie ervaren.
    Geldproblemeen, gezondheidsklachten, liefdesverdriet of zorgen om je geliefden kunnen ons helemaal in beslag nemen.
    Dat betekent niet dat we nooit geluksmomenten ervaren; vaak hebben we onze eigen manieren om ieder geval af en toe korte geluksmomenten te maken.
</p>
<p>
    Vaak is het echter bijzonder lastig om echt een gelukkig, vredig en zinvol leven te leiden.
    We zijn snel afgeleid en het is heel makkelijk om op een lege manier naar geluk te zoeken waardoor je jezelf en je omgeving uiteindelijk niet verder helpt.
</p>
<p>
    Ik wil je daarom graag helpen om geluk beter te begrijpen en te zorgen dat je geluk en zingeving wat vaker tegenkomt!
    Want ik geloof dat het voor jou mogelijk is om een leven te leiden waarin je sommige problemen op kunt lossen, onnodige negatieve emoties er minder zijn, en je kunt meer genieten van de mooie dingen die er zijn.
</p>
<p>
    {% include biglink.html label="Lees meer over hoe je gelukkiger kunt worden" link="/blog/hoe-kun-je-gelukkiger-worden" %}
</p>
<p>
    Of <a href='/blog/kunnen-we-gelukkiger-worden'>lees eerst dit</a> als je er nog niet van overtuigd bent dat je überhaupt gelukkiger kunt worden.
</p>
<p>
    O ja, en als je perfect gelukkig wil worden, dan moet je <a href="/blog/perfect-geluk">zeker eerst dit lezen</a>.
</p>