---
layout: blog
title:  Hoe kun je gelukkiger worden?
author: Willem Mulder
date:   2019-09-20 12:26:00 +0200
categories: basis
permalink: blog/hoe-kun-je-gelukkiger-worden
---
<p>
    <a href="/blog/wat-is-geluk">Geluk is 'ongestoorde positieve emotie'</a>.
    Die ongestoorde positieve emotie is echter lang niet altijd vanzelfsprekend.
    We hebben in ons leven immers vaak genoeg te maken met negatieve zaken zoals verdriet en pijn en meer subtiele dingen zoals onrust of malende gedachten.
    De vraag is hoe we met die negatieve prikkels omgaan.
</p>
<!--more-->
<p>
    Wellicht heb je geaccepteerd dat je niet gelukkig zult zijn.
    En dat het überhaupt niet mogelijk is om een gelukkig en zinvol leven te leiden.
    Dat zijn logische gedachten als je langdurig of intensief met ongeluk te maken hebt.
    Maar in de praktijk blijkt dat negatieve gedachten en negatieve emoties meestal niet voor altijd aanwezig blijven.
    Ze zullen op den duur afnemen en helemaal voorbij kunnen gaan.
    En wetenschappers hebben onderzocht dat dit niet alleen maar afhangt van toeval: je hebt hier zelf invloed op.
    Want ondanks dat je verschillen in geluk ook kunt verklaren door aanleg en omstandigheden, <a href='/blog/kunnen-we-gelukkiger-worden'>heb je zelf wel degelijk invloed op hoe gelukkig je bent</a>.
</p>
<p>
    Het goede nieuws is daarbij dat positieve emotie en geluk bijna 'als vanzelf' ontstaat als je geen negatieve emoties hebt.
    Als je hoofd helemaal leeg is, krijg je vanzelf een rustig en vredig gevoel.
    En als je niks hebt om je zorgen om te maken, kun je helemaal genieten van 'de kleine dingen' in het mooie nu.
</p>
<p>
    Als je wilt zorgen voor meer geluk, moeten we ons dus focussen op het verminderen van negatieve emoties.
    Daarbij zijn er heel basaal gezien twee strategiën.
    De eerste strategie (naar boven in het plaatje hieronder) is om de negatieve emoties weg te duwen door middel van positieve tegenhangers of allerlei afleiding.
    De tweede strategie (naar onder in het plaatje hieronder) is grondiger en dat is om de oorzaak van de negatieve emoties te vinden en die vervolgens aan te pakken.
    Zodra de negatieve emoties verdwijnen, komen de positieve er voor in de plaats en ervaren we meer geluk.
</p>
<p>
    {% include image.html src="model_manieren_om_met_negatieve_gedachten_om_te_gaan.png" %}
</p>
<p>
    Meestal kiezen we in eerste instantie voor de eerste strategie: het zoeken van afleiding of positieve ervaringen om de negatieve weg te houden.
    Dat komt simpelweg omdat die strategie veel simpeler en toegankelijker is dan de tweede strategie.
    Afleiding is er immers volop. En iedereen weet hoe je daar gebruik van kunt maken. Keuze te over: heel hard werken, een filmpje kijken of eventueel richting verslavingen zoals alcohol of drugs.
    De tweede strategie is veel moeilijker. 
    Het vinden en aanpakken van de oorzaak van negatieve emoties kost vaak veel energie.
    Dat is zeker het geval als je in je opvoeding of schooltijd weinig meekrijgt over het luisteren naar je emoties.
    In die situaties is het bezig zijn met emoties immers geen vanzelfsprekendheid, maar moet je daar zelf alert op zijn en bewust actief mee bezig zijn.
</p>
<p>
    Dus waar doe je nou verstandig aan? 
    Kiezen voor de snelle afleiding? 
    Of kiezen voor de langere route en leren hoe je emoties werken om die kennis vervolgens te gebruiken om oorzaken van negatieve emoties te vinden en aan te pakken?
</p>
<p>
    Je kunt je voorstellen dat de juiste strategie een combinatie is van beide.
    Vergelijk het met hoe je om zou gaan met een vervelende pijn in je lichaam.
    De afleidingsstrategie werkt als een soort pijnstiller om de pijn even te vergeten, om je werk te kunnen doen en om helder na te kunnen denken.
    Maar tegelijkertijd wil je de oorzaak van de pijn wel degelijk aanpakken. 
    En dus ga je normaliter naar de dokter, verhelp je het probleem eventueel zelf en doe je vooral geen dingen die het probleem erger maken.
    Daarbij helpt het dan enorm als je je eigen lichaam kent, zodat je het probleem kunt omschrijven en snapt wat wel en niet goed voor je is.
    Op dezelfde manier is het bij emotionele pijn enorm nuttig om te begrijpen hoe emoties werken, waar ze vandaan komen en wat je er mee kunt doen.
</p>
<p>
    De eerste strategie van afleiding en het tijdelijk wegduwen van negatieve emoties kan dus alleen oké zijn op de korte termijn.
    Maar voor de lange termijn is dat geen oplossing. 
    Ten eerste verdrijf je de negatieve emoties er niet daadwerkelijk mee.
    Je hersenen zullen de negatieve emoties als een 'open eindje' opslaan en deze later weer in je gedachten brengen.
</p>
<p>
    En ten tweede is er het risico dat je in de cirkel van negativiteit terechtkomt.
    Dat gebeurt als je je negatieve emotes wegduwt met kort en plat plezier.
    Dat werkt wel even, maar uiteindelijk lost dit niets op en kan het een schuldgevoel opleveren.
    Daardoor kun je je weer negatief voelen, wat je dan weer oplost met dun plezier, enzovoorts.
</p>
<p>
    Zorg dus dat je vooral investeert in het daadwerkelijk vinden en aanpakken van de oorzaken onder negatieve emoties, zodat je de negatieve emoties daadwerkelijk oplost en weg houdt. 
    De eerste stap is om te begrijpen hoe emoties werken en waarvoor ze bedoeld zijn.
</p>
<p>
    {% include biglink.html label="Want wat zijn emoties precies?" link="/blog/wat-zijn-emoties" %}
</p>
<p>
    Let op dat het bij het vinden en aanpakken van de oorzaken van negatieve emoties bijzonder waardevol is om over je emotionele pijn en problemen te praten met anderen die je vertrouwt. 
    Praten zorgt er al voor dat je je eigen gedachten op een rijtje krijgt. 
    Daarbij is het fijn dat iemand naar je luistert, met je meevoelt en je nieuwe perspectieven kan geven over oorzaak en oplossing van je situatie.
</p>
