---
layout: blog
title:  Soorten emoties
author: Willem Mulder
date:   2021-02-12 16:21:00 +0200
categories: basis
permalink: blog/soorten-emoties
---

{% capture summary %}
    We kunnen veel verschillende soorten emoties ervaren.
    Het is nuttig om die emoties goed te kunnen benoemen en te herkennen want daardoor kunnen we elkaar beter aanvoelen en ons gedrag op elkaar afstemmen.
    Wetenschappelijk onderzoek toont aan dat emoties ingedeeld kunnen worden op twee assen.
    De eerste as heeft te maken met hoe fijn de emotie voelt: van heel onplezierig naar heel plezierig.
    De tweede as heeft te maken met activatie: van heel de-activerend (bijvoorbeeld een slaperig gevoel) naar activerend (bijvoorbeeld angst of wilde blijdschap).
{% endcapture %}
{% include summary.html summary=summary %}
<p>
    <!--excerpt-->
    We weten dat <a href='/blog/wat-zijn-emoties'>emoties bedoeld zijn ons leven de juiste richting op te sturen</a>.
    Een emotie is een reactie op een bepaalde (fictieve) situatie en bedoeld om je te stimuleren om negatieve situaties te vermijden en positieve situaties juist op te zoeken.
    Emoties geven dus aan wat onze hersenen vinden van een bepaalde situatie en <a href='/blog/waar-komen-emoties-vandaan'>zijn een afspiegeling van onze behoeften en herinneringen</a>. 
    Als we het hebben over emoties is het handig als ze een specifieke naam hebben, en als we dan met elkaar ook begrijpen wat we er mee bedoelen.
    <!--/excerpt-->
    Extra interessant is het om te kijken of bepaalde emoties bij de ene mens meer of minder aanwezig is, of bijvoorbeeld per cultuur verschilt.
    Daarom is er al heel lang onderzoek gedaan naar de verschillende typen emoties en hoe we die ervaren, zien en tot elkaar relateren.
</p>
<p>
    Wat al snel duidelijk is, is dat emoties soms op elkaar lijken maar kunnen variëren in intensiteit.
    Zo kun je bijvoorbeeld 'boos' zijn of 'woedend', waarbij woedend de meer intense variant is van boos.
    Op dezelfde manier heb je 'blij' en 'uitgelaten' waarbij uitgelaten de meer intense variant is van blij.
    Of bijvoorbeeld 'afkeer' en 'haat' waarbij haat de meer intense variant is van afkeer.
    Het is fijn om die nuances met elkaar te zien en te begrijpen.
    Daardoor kunnen we onszelf en anderen immers beter aanvoelen en daar ons gedrag op afstemmen.
    De mate waarin we in staat zijn om emoties te herkennen, te beheersen en te gebruiken als leidraad voor gedachten en gedrag, noemen we ook wel 'emotionele intelligentie' oftewel EQ.
</p>
<p>
    Een belangrijk aspect bij herkenning van emoties is de gezichtsuitdrukking.
    Daaraan zie je -behalve als iemand dit actief verbergt- goed hoe iemand zich voelt.
    Onderzoeker Paul Ekman heeft uitgebreid onderzoek gedaan naar gezichtsuitdrukkingen bij de mens.
    Hij concludeerde dat er wereldwijd dezelfde herkenbare gezichtsuitdrukkingen bestaan voor zes basisemoties.
</p>
<ul>
    <li>Vreugde</li>
    <li>Verdriet</li>
    <li>Woede</li>
    <li>Angst</li>
    <li>Verbazing</li>
    <li>Walging</li>
</ul>
<p>
    Die gezichtsuitdrukkingen zijn al bij de geboorte aanwezig en niet slechts het gevolg van aangeleerd gedrag.
    Dat blijkt wel, want ook kleine baby's vertonen deze gezichtsuitdrukkingen en zelfs kinderen die doof en blind geboren worden, gebruiken deze gezichtsuitdrukkingen zonder ze ooit gezien te hebben.
</p>
<p>
    Emoties zijn echter veel rijker dan deze zes basisemoties, en er zijn wel lijsten met 150 verschillende emoties te vinden.
    De vraag is welke benamingen daarin overlap hebben en en hoe verschillend de ene emotie is van de andere.
    Daarin werd door onderzoekers Cowen en Keltner recentelijk ontdekt dat emoties vaak geen opzichzelfstaande eilandjes zijn, maar aan elkaar gerelateerd zijn en gradueel verlopen van de ene emotie naar de andere.
    Door clustering kwamen ze uiteindelijk tot 27 typen emoties.
</p>
<p>
    Het onderzoek van Cowen en Keltner suggereert dat emoties op een groot aantal dimensies ingedeeld kunnen worden, maar de meeste wetenschappers blijven bij een model met twee dimensies.
    Bijvoorbeeld Russell, Weiss, Mendelsohn, Lang en Feldman Barret nemen aan dat emoties kunnen worden ingedeeld door middel van twee dimensies of assen.
    Je kunt dit voorstellen als een vierkant waar je de emoties in kunt plaatsen op basis van een boven/onder positie en een links/rechts positie.
    De eerste as loopt van links naar rechts en heeft te maken met hoe plezierig een emotie voelt.
    De emoties links zijn heel onplezierig -dus negatief- en de emoties rechts zijn juist heel plezierig -dus positief- te noemen.
    Belangrijk is overigens dat <em>alle</em> emoties nuttig zijn, dus ook de 'negatieve' emoties zijn bruikbare informatie om ons leven te sturen!
    De tweede as loopt van onder naar boven en heeft te maken met of de emotie ons activeert of juist 'deactiveert', dus tot rust brengt.
    Op die manier kun je onderstaande afbeelding vormgeven.
</p>
<p>
    {% include mediumimage.html alt="allerlei soorten emoties" src="model_emoties.png" %}
</p>
<p>
    Het is prettig dat we onze emoties op een bepaalde manier kunnen omschrijven en snappen hoe ze zich tot elkaar verhouden.
    Maar de grote vraag is vervolgens natuurlijk wat we vervolgens met onze emoties doen.
    <!--
    Technisch gezien hebben wetenschappers zoals LeDoux en Brown gevonden dat er twee -gelijktijdige- routes zijn waarop emoties verwerkt worden.
    Ten eerste een snelle route van de thalamus (waar prikkels binnenkomen in de hersenen) direct naar de amygdala waar de emotionele interpretatie en respons plaatsvindt.
    En ten tweede een langere route van de thalamus via de sensorische cortex (en hippocampus) naar de amygdala. 
    De eerste route zorgt ervoor dat we snel kunnen reageren op prikkels die direct actie vereisen.
    Als we bijvoorbeeld een stuk hout op ons af zien komen, duiken we snel inéén en proberen de klap op te vangen.
    Maar de tweede route zorgt ervoor dat we ook wat dieper nadenken over de situatie en bijvoorbeeld zien dat het hout vastzit aan een touw en dus niet bij ons kan komen.
    Daardoor kunnen we ook snel weer ontspannen.
    -->
    Daarbij is het vooral belangrijk dat we beseffen dat er een heel aantal verschillende emoties zijn, en dat we al die emoties in ons voordeel kunnen gebruiken als we er goed naar luisteren.
    Daarvoor moeten we onze eigen emoties toestaan, ze tot op zekere hoogte kunnen omschrijven, er het liefst met anderen over kunnen praten en in ieder geval op basis van je emoties actie kunnen ondernemen.
    Daarbij zijn overigens niet alle emoties terecht: soms kunnen ze overdreven zijn of gebaseerd op verkeerde behoeften of een verwrongen wereldbeeld.
    Het is dus belangrijk om te snappen hoe je emoties kunt bekijken en hoe je onterechte emoties aan kunt pakken.
</p>
<p>
    Als je meer wilt lezen over hoe je om moet gaan met je emoties lees je het volgende artikel!
</p>
<p> 
    {% include biglink.html label="Hoe je emoties kunt analyseren en er op de juiste manier mee om kunt gaan" link="/blog/wat-te-doen-met-emoties" %}
</p>